strong{
    color: #0059ff;
}

.subtitulo{
    color: #337aff;
}
ion-col{
    padding: 10px;
    margin: 0px;
}
ion-list{
    margin:10px;
}
p{
    color:black;
}

ion-content{
    --background: url("../../../assets/login/bg.jpg") 0 0/100% 100% no-repeat;
}
.centrarmensaje{
    text-align: center;
}
ion-card{
    width: 500px;
}