<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="vacio==false; else elseBlock">

    <div *ngFor="let donacion of donaciones;let indice=index">
      <ion-card *ngIf="donacion.iddonante==id">
        <ion-card-header>
          <ion-card-subtitle><p class="subtitulo">Fecha de solicitud:{{donacion.fechadonacion.toMillis() | date:'dd/MM/yyyy'}}</p></ion-card-subtitle>

        </ion-card-header>
      
        <ion-card-content>
          <ion-row *ngFor="let tienda of tiendas;let indice=index" >
            <ion-col *ngIf="tienda.id==donacion.idtienda">
              <p class="subtitulo">Tienda:</p>
            </ion-col>
            <ion-col *ngIf="tienda.id==donacion.idtienda">
              <p>{{tienda.nombre}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="subtitulo">Estado de la Bicicleta:</p>
            </ion-col>
            <ion-col>
              <p>{{donacion.estado}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="subtitulo">Descripción Bicicleta:</p>
            </ion-col>
            <ion-col>
              <p>{{donacion.descripcion}}</p>
            </ion-col>
          </ion-row>
          <br/>
          <ion-button  button [routerLink]="['/donar', donacion.id]" slot="end" color="primary" style="width: 100px;height: 40px;">Ver</ion-button>
        </ion-card-content>
      </ion-card>
  
    </div>
  </ion-list>
  <ng-template #elseBlock>
    <ion-list><p class="centrarmensaje">No existen donaciones.</p></ion-list>
  </ng-template>

</ion-content>

