<ion-content>
<div style="min-height: 300px;"> 
  <ion-list *ngIf="vacio==false; else elseBlock">
    <h2 style="text-align: center;font-weight: bold;">Revisa tus donaciones</h2>
    <p style="text-align: left;padding-left: 10px;"><ion-icon name="flag-outline" style="color:green;font-size: 20px;"></ion-icon> Aprobados</p> 
    <p style="text-align: left;padding-left: 10px"><ion-icon name="flag-outline" style="color:red;font-size: 20px;"></ion-icon> Rechazados o anulados</p> 
    <p style="text-align: left;padding-left: 10px"><ion-icon name="flag-outline" style="color:#ffbb00;font-size: 20px;"></ion-icon> Pendientes</p> 

    <div *ngFor="let donacion of donaciones;let indice=index" style="display: flex;justify-content: center;align-items: center;">
      <ion-card *ngIf="donacion.iddonante==id">
        <ion-row style="border-bottom: solid 1px;border-color: #2355EF;">
          <ion-col>
            <div *ngIf="donacion.respuesta; else elseBlock">
              <ion-icon name="flag-outline" style="color:green;font-size: 20px;" *ngIf="donacion.aprobacion==true"></ion-icon>
              <ion-icon name="flag-outline" style="color:red;font-size: 20px;" *ngIf="donacion.aprobacion==false"></ion-icon>
            </div>     
            <ng-template #elseBlock>
              <ion-icon name="flag-outline" style="color:#ffbb00;font-size: 20px;"></ion-icon>
            </ng-template>
          </ion-col>
          <ion-col>
            <p style="font-size: 20px;padding: 0px;margin: 0px;font-weight: bold;">
               <!--La fecha de solicud se envió {{alqui.fecha.toMillis() | date:'dd/MM/yyyy'}}-->
               Donación
            </p>
              
          </ion-col>
          <ion-col style="text-align: center;">
            <ion-button  button [routerLink]="['/donar', donacion.id]" color="primary" style="height: 24px;width: 60%;">Ver</ion-button>
          </ion-col>
        </ion-row>
        <div *ngFor="let tienda of tiendas;let indice=index">
          
          <ion-row *ngIf="tienda.id==donacion.idtienda">
            <ion-col >
              <p style="font-size: 12px;">
                <b>Tienda:</b> {{tienda.nombre}}
                <br/>
                <b>Fecha solicitud:</b> {{donacion.fechasolicitud.toMillis() | date:'dd/MM/yyyy'}}
                <br/>
                <b>Fecha donación:</b> {{donacion.fechadonacion.toMillis() | date:'dd/MM/yyyy'}}
                <br/>
              </p>
              
            
            </ion-col>
            <ion-col size="5">
              <img height="80" src="../../../assets/donacion/imagendocion.jpg" style="display:block;
              margin:auto;">
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>

  </ion-list>
  <ng-template #elseBlock>
    <ion-list><p class="centrarmensaje">No existen donaciones.</p></ion-list>
  </ng-template>
</div> 
  <app-footer></app-footer>

</ion-content>

