<ion-header>
  <app-header-tienda></app-header-tienda>
</ion-header>

<ion-content>

  <div class="container">
    <h3 align="center">MIS NOTIFICACIONES</h3> 
    <ng-container *ngIf="!notificaciones || notificaciones.length == 0">
      <h3>No tienes notificaciones</h3>
    </ng-container>
     
          <div *ngFor="let notificacion of notificaciones | paginate: { itemsPerPage: 5, currentPage: pageActual }" >
            <div *ngFor="let usuario of usuarios">
              <div *ngIf="notificacion.idusuario==usuario.uid">
                <div class="row justify-content-center">
                  <div class="col-sm-8">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{usuario.nombres}}, {{usuario.apellidos}}</h4>
                            <div class="meta">
                                <label>{{notificacion.tipo}}</label>
                            </div>
                            <div class="card-text">
                              <label>Fecha: </label> {{notificacion.fecha.toMillis() | date:'dd/MM/yyyy'}}
                            </div>
                            
                        </div>
                        <div class="card-footer">
                          <ion-button  (click)=" cambiarvisualizado(notificacion,notificacion.id)" color="warning">
                            <ion-icon name="eye-outline"></ion-icon>
                            Revisar Todo
                          </ion-button>
                          <ion-button  (click)=" aprobar(notificacion,notificacion.id)" color="success">
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                            Ya la aprobé/rechazé
                          </ion-button>
                        </div>
                        
                    </div>
                </div>
                </div>




                
             </div>
            </div>
            </div> 
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>  
  <div>
    <div class="container">
      <div class="row mb-3">
        <div class="col-6 themed-grid-col">
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
        </div>
      </div>
     </div>
    
  <app-footer></app-footer>
  </div>
</ion-content>
