
<ion-content>
  <ng-container *ngIf="!bicicletas || bicicletas.length == 0">
    <h3>Ninguna bicicleta no disponible </h3>
  </ng-container>
  <div class="table-responsive table-striped table-bordered">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Disponible</th>
        <th scope="col">Editar</th>
        <th scope="col">Cambiar Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bicis of bicicletas | paginate: { itemsPerPage: 5, currentPage: pageActual }" >
        <td>{{bicis.nombre}}</td>
        <td><img [src]="bicis.imagen" style="height:100px;display:block;margin:auto"/></td>
        <td>{{bicis.disponible}}</td>
        <td> <ion-button  (click)="editarbici(bicis.id)">
          <ion-icon slot="start" name="locate"></ion-icon>
          Editar Bici
        </ion-button></td>
        <td><ion-button  (click)="cambiarestado(bicis,bicis.id)">
          <ion-icon slot="start" name="locate"></ion-icon>
          Cambiar Estado
        </ion-button></td>
      </tr> 

        </tbody>
      </table>
      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
      <div>
        <div class="container">
          <div class="row mb-3">
            <div class="col-6 themed-grid-col">
              <h5>___________</h5>
              <h5>___________</h5>
              <h5>___________</h5>
              <h5>___________</h5>
            </div>
          </div>
         </div>
        
      <app-footer></app-footer>
      </div>
</ion-content>
