
<ion-content>
  <div *ngFor="let donacion of donaciones" >
    <div *ngIf="donacion.anular==true">
    <div *ngFor="let usuario of usuarios">
      <div *ngIf="donacion.iddonante==usuario.uid">
          <table class="table ">
                
    
              <thead>
                <tr>
                  <th scope="col">Nombree</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Motivo del rechazo</th>
                
                </tr>
              </thead>
              <tbody>
              <tr>
            <td> {{usuario.nombres}}</td>
            <td> {{usuario.apellidos}}</td>
            <td>{{donacion.respuesta}}</td>
            </tr>
            </tbody>
        

         </table>
         
      </div>
      </div>
    </div>

  </div> 
  <div>
    <div class="container">
      <div class="row mb-3">
        <div class="col-6 themed-grid-col">
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
        </div>
      </div>
     </div>
    
  <app-footer></app-footer>
  </div>
</ion-content>
