<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/alquiler-donacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Donación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="margin:10px;display: flex;justify-content: center;align-items: center;">
  <ion-list lines="full" *ngIf="donaciones" >
    <ion-item >

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label><strong>Descripción</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{donaciones.descripcion}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="tiendas">
          <ion-col>
            <ion-label><strong>Tienda</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{tiendas.nombre}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label><strong>Fecha Donación:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{fechadonar | date:'dd/MM/yyyy'}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label><strong>Estado:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{donaciones.estado}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label><strong>Modo de entrega:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{donaciones.modo}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <div *ngIf="donaciones.anular==cancelaran">
      <div *ngIf="donaciones.aprobacion==cancelaran">

        <ion-button  (click)="cancelar()" expand="block" shape="round" color="danger">Anular</ion-button>
      </div>
    </div>
    
  
   

  </ion-list>
</div>
<app-footer></app-footer>
</ion-content>