
<ion-content>
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Disponible</th>
        <th scope="col">Editar</th>
        <th scope="col">Cambiar Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bicis of bicicletas" >
        <ng-container *ngIf="bicis.disponible==Si">
        <td>{{bicis.nombre}}</td>
        <td><img [src]="bicis.imagen" style="height:100px;display:block;margin:auto"/></td>
        <td>{{bicis.disponible}}</td>
        <td> <ion-button  (click)="editarbici(bicis.id)">
          <ion-icon slot="start" name="locate"></ion-icon>
          Editar Bici
        </ion-button></td>
        <td><ion-button  (click)="cambiarestado(bicis,bicis.id)">
          <ion-icon slot="start" name="locate"></ion-icon>
          Cambiar Estado
        </ion-button></td>
      </ng-container>  
      </tr> 

        </tbody>
      </table>
</ion-content>
