<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Alquileres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="alquileres">
    <ion-item >
      <ion-label position="stacked"><strong>Bicicleta</strong></ion-label>
      <ion-input required type="text" placeholder="Nombre" [(ngModel)]="alquileres.bicicleta" readonly="readonly"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="stacked"><strong>Tienda</strong></ion-label>
      <br>
      <ion-label *ngFor="let tienda of tiendas;let indice=index">
        <ion-input *ngIf="tienda.id==alquileres.idtienda" required type="text" placeholder="Nombre" [(ngModel)]="tienda.nombre" readonly="readonly"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item >
      <ion-label>Fecha solicitud:</ion-label>
      <ion-datetime value="{{alquileres.fecha.toMillis() | date:'yyyy/MM/dd'}}" readonly="readonly"></ion-datetime>
    </ion-item>
  
    <ion-item >
      <ion-label>Fecha alquiler:</ion-label>
      <ion-datetime value="{{alquileres.fechaalquiler.toMillis() | date:'yyyy/MM/dd'}}" readonly="readonly"></ion-datetime>
    </ion-item>
    <ion-item >
      <ion-label>Fecha Devolución:</ion-label>
      <ion-datetime value="{{alquileres.fechadevolucion.toMillis() | date:'yyyy/MM/dd'}}" readonly="readonly"></ion-datetime>
    </ion-item>

  </ion-list>

</ion-content>
