<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/alquiler-donacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Alquileres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" *ngIf="alquileres" style="margin:10px">
    <ion-item *ngIf="bicicleta">
      <ion-label position="stacked"><strong>Bicicleta</strong></ion-label>
      <br/>
      <img [src]="bicicleta.imagen" style="height: 130px;display:block;margin:auto;margin-bottom: 10px;"/>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row *ngIf="tiendas">
          <ion-col>
            <ion-label ><strong>Tienda:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{tiendas.nombre }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label ><strong>Fecha solicitud:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{fecha | date:'dd/MM/yyyy'}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label ><strong>Fecha alquiler:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{fechaalquiler | date:'dd/MM/yyyy'}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label ><strong>Hora alquiler:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{alquileres.horaalquiler}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label ><strong>Fecha Devolución:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{fechadevolucion | date:'dd/MM/yyyy'}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label ><strong>Hora Devolución:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{alquileres.horadevolucion}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>


    <div *ngIf="alquileres.anular==cancelaran">
      <div *ngIf="alquileres.aprobacion==cancelaran">
        <ion-button  expand="full" (click)="cancelar()" color="danger">Anular</ion-button>
      </div>
    </div>
    

  </ion-list>

</ion-content>
