<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Alquileres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let alqui of alquiler;let indice=index">
      <ion-item button [routerLink]="['/detalle']">
        <ion-label>
          <h2>Solicitud {{indice+1}}</h2>
          <h2>Fecha solicitud: {{alqui.fecha.toMillis() | date:'yyyy/MM/dd'}}</h2>
          <h2>Fecha alquiler : {{alqui.fechaalquiler.toMillis() | date:'yyyy/MM/dd'}}</h2>
          <h2>Fecha devolución : {{alqui.fechadevolucion.toMillis() | date:'yyyy/MM/dd'}}</h2>

        </ion-label>
      </ion-item> 
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/formulario-alquiler" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
