.mx-auto {
  display: flex;  /*display: flex; el cual vuelve al contenedor un elemento flex*/
  
  align-items: center;  /*justify-content: center; le decimos a los elementos del contenedor flex que se ubiquen al centro del eje principal eje horizontal*/
  
  justify-content: center; /*align-items: center; estamos diciendo que queremos que los elementos dentro del contenedor flex se ubiquen en el centro del eje secundario eje vertical*/
  
  margin: 10px;
}

.center-span {
  display: block;
  text-align: center;
}



.btn_eye_icon{
position: absolute;
right: 0;
bottom: 4px;
background: transparent;
ion-icon{
    font-size: 22px;
    color:#757575;
}
}

.btn_eye_icon:focus{
outline: none  !important;

}
ion-input{
  border: 1px solid ; 
  border-radius: 4px;

}
ion-content{
  #map {
    width: 100%;
    height:80%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
      opacity: 1;
    }
  }
  

}
