<ion-header>
  <app-header-tienda></app-header-tienda>
</ion-header>



<ion-content>
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" style="border: #3A6073 2px solid;" >
        <div class="col" style="border: #3A6073 2px solid;">
          <div id="map" ></div>  
            <ion-button type="button" expand="block" color="tertiary" (click)="cambiarUbicacion()"><ion-icon slot="start" name="locate"></ion-icon>
              Actualizar mi Ubicación
            </ion-button>  
                 
    
        </div>
        <div class="col" style="border: #3A6073 2px solid;" >   
            <div class="row">
              
                <form [formGroup]="formGroup" (ngSubmit)="guardartienda()" *ngIf="tienda" >
                  <div class="row">  
                    <br>
                      <img [src]="tienda.logo" style="height:120px;display:block;margin:auto;padding-top: 10px;"/>
                  </div>
                  <br/>
                  <div class="row" style="display: flex;justify-content: center;">  
                    <label style="color:blue">
                      Cambiar foto de perfil
                      <input type="file" accept=".png, .jpg" name="fileSubir" (change)="subirImagen($event)" style="display:none;">
                    </label>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Nombre</strong></label>
                      <input class="form-control" type="text" placeholder="Bryan" formControlName="nombreControl" #nombre [(ngModel)]="tienda.nombre">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('required') && formGroup.get('nombreControl').touched">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('minlength') && formGroup.get('nombreControl').touched">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('maxlength') && formGroup.get('nombreControl').touched">
                          *Máximo 40 caracteres  
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <label position="stacked"><strong>Teléfono</strong></label>
                      <input class="form-control" type="text" placeholder="0999999999" formControlName="telefonoControl" #telefono [(ngModel)]="tienda.telefono">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('required') && formGroup.get('telefonoControl').touched">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('minlength') && formGroup.get('telefonoControl').touched">
                          *Mínimo 7 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('maxlength') && formGroup.get('telefonoControl').touched">
                          *Máximo 10 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('pattern') && formGroup.get('telefonoControl').touched">
                          *El nombre debe tener solo números
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label position="stacked"><strong>Dirección</strong></label>
                    <textarea type="text" class="form-control" placeholder="Av. Las Americas N°212" formControlName="direccionControl" #direccion [(ngModel)]="tienda.direccion"  rows="2" cols="50"></textarea>
                  </div> 
                    <div class="validation-errors">
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('required') && formGroup.get('direccionControl').touched">
                        *Requerido
                      </p>
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('minlength') && formGroup.get('direccionControl').touched">
                        *Mínimo 3 caracteres 
                      </p>
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('maxlength') && formGroup.get('direccionControl').touched">
                        *Máximo 40 caracteres  
                      </p>
                    </div>
                  <div class="form-group row">
                    <div class="col">
                      <ion-label  position="stacked"><strong>¿Realizas auxilio mecánico? </strong></ion-label >
                        <select [(ngModel)]="tienda.auxilio" formControlName="tipoControl" class="form-control">
                          <option value="Si" selected>Si</option>
                          <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label position="stacked"><strong>Correo electrónico</strong></label>
                        <p>{{tienda.correo}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <ion-button type="button" expand="block" color="tertiary" (click)="cambiarcontra()">Cambiar contraseña</ion-button>
                  </div>
                  <div class="form-group">
                    <ion-button type="submit" [disabled]="!formGroup.valid" expand="block">Guardar</ion-button>
                  </div>
                </form>
            
            </div>
        </div>
      </div>
      
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>