<footer class="page-footer font-small special-color-dark pt-4" style="background: #343a40;color:white;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Tiendas Afiliadas</h5>
        <p>Aqui va el mapa</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Realizado por:</h5>

        <ul class="list-unstyled">
          <li>
              <p>Bryan España</p>
          </li>
          <li>
              <p>Bryan Pilatuña</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Correos</h5>

        <ul class="list-unstyled">
          <li>
              <p>bryan.espana@epn.edu.ec</p>
          </li>
          <li>
              <p>bryan.pilatuna@epn.edu.ec</p>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Proyecto Bicicletas
  
  </div>
  <!-- Copyright -->

</footer>