<footer class="page-footer font-small special-color-dark pt-4" style="background: #343a40;color:white;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

    
      <div class="col-md-3 mb-md-0 mb-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Escudo_de_la_Escuela_Polit%C3%A9cnica_Nacional.png"  style="width:50%;height:80%;display:block;margin:auto">

        

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

        
        
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Realizado por:</h5>

        <ul class="list-unstyled">
          <li>
              <p>Bryan España</p>
          </li>
          <li>
              <p>Bryan Pilatuña</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Correos</h5>

        <ul class="list-unstyled">
          <li>
              <p>bryan.espana@epn.edu.ec</p>
          </li>
          <li>
              <p>bryan.pilatuna@epn.edu.ec</p>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Proyecto Bicicletas
  
  </div>
  <!-- Copyright -->

</footer>