<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">

      <div class="col">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Realizado por:</h4>
          <ul class="list-unstyled">
            <li>Bryan España</li>
            <li>Bryan Pilatuña</li>

          </ul>
        </div>
      </div>
      <div class="col">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Contáctenos</h4>
          <ul class="list-unstyled">
            <li>bryan.espana@epn.edu.ec</li>
            <li>bryan.pilatuna@epn.edu.ec</li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    	<div class="col">
    		<h4>Universidad</h4>
            <ul class="social-network social-circle">
              <li>
                <img height="100" src="assets/inicio/esfot.png"/>
              </li>
             
            </ul>				
		</div>
    </div>
    <br/>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - Escuela de Formación de Tecnólogos - Escuela Politécnica Nacional .  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>