
<ion-content>
  <ng-container *ngIf="!donaciones || donaciones.length == 0">
    <h3>No tienes donaciones pendientes</h3>
  </ng-container>
  <div class="table-responsive table-striped table-bordered">
     <table class="table " *ngFor="let donacion of donaciones | paginate: { itemsPerPage: 5, currentPage: pageActual }">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Cedula</th>
              <th scope="col">Fecha Donación</th>
              <th scope="col">Descripción Bici</th>
              <th scope="col">Tipo de Entrega</th>
              <th scope="col">Aprobar</th>
              <th scope="col">Motivo Rechazo</th>
              <th scope="col">Rechazar</th>
            </tr>
          </thead >
          <tbody *ngFor="let usuario of usuarios">
          <tr *ngIf="donacion.iddonante==usuario.uid">
         <td> {{usuario.nombres}}</td>
         <td> {{usuario.apellidos}}</td>
         <td>{{donacion.fechadonacion.toMillis() | date:'dd/MM/yyyy'}}</td>
         <td>{{donacion.descripcion}}</td>
         <td>{{donacion.modo}}</td>
          <td><ion-button  *ngIf="notificacion.respuesta==''"  (click)="aprobar(donacion,donacion.id)" color="warning">
            Aprobar
          </ion-button></td>
          <td><ion-input type="text" placeholder="Ingresa el motivo" [(ngModel)]="notificacion.respuesta" required></ion-input></td>
          <td><ion-button  (click)="rechazar(donacion,donacion.id)" color="danger">
            Rechazar
          </ion-button></td>
        </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
<div>
  <div class="container">
    <div class="row mb-3">
      <div class="col-6 themed-grid-col">
        <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
          <h5>___________</h5>
      </div>
    </div>
   </div>
  
<app-footer></app-footer>
</div>
</ion-content>
