<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="irtiendas()"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" >
        <div class="col" style="border: #3A6073 2px solid" >
          <h2 style="text-align:center">Editar Tienda</h2>
          <img [src]="tienda.logo" style="display:block;margin:auto;padding-top: 10px;"/>
    
        </div>
        <div class="col" style="border: #3A6073 2px solid;" >           
                <form [formGroup]="formGroup" (ngSubmit)="guardartienda()" *ngIf="tienda" >
                  <div class="row">  
                     
                  </div>
                  <br/>
                  <div class="row" style="display: flex;justify-content: center;">  
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <a href="{{tienda.documento}}" target="_blank"> Visualizar imagen para la activación</a>

                    </div>

                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Nombre</strong></label>
                      <input class="form-control" type="text" placeholder="Bryan" formControlName="nombreControl" #nombre [(ngModel)]="tienda.nombre" >
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('required') && formGroup.get('nombreControl').touched">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('minlength') && formGroup.get('nombreControl').touched">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('maxlength') && formGroup.get('nombreControl').touched">
                          *Máximo 40 caracteres  
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <label position="stacked"><strong>Teléfono</strong></label>
                      <input class="form-control" type="text" placeholder="0999999999" formControlName="telefonoControl" #telefono [(ngModel)]="tienda.telefono" >
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('required') && formGroup.get('telefonoControl').touched">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('minlength') && formGroup.get('telefonoControl').touched">
                          *Mínimo 7 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('maxlength') && formGroup.get('telefonoControl').touched">
                          *Máximo 10 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('pattern') && formGroup.get('telefonoControl').touched">
                          *El nombre debe tener solo números
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label position="stacked"><strong>Dirección</strong></label>
                    <textarea type="text" class="form-control" placeholder="Av. Las Americas N°212" formControlName="direccionControl" #direccion [(ngModel)]="tienda.direccion"  rows="2" cols="50" ></textarea>
                  </div> 
                    <div class="validation-errors">
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('required') && formGroup.get('direccionControl').touched">
                        *Requerido
                      </p>
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('minlength') && formGroup.get('direccionControl').touched">
                        *Mínimo 3 caracteres 
                      </p>
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('maxlength') && formGroup.get('direccionControl').touched">
                        *Máximo 40 caracteres  
                      </p>
                    </div>
                  <div class="form-group row">
                    <div class="col">
                        <label position="stacked"><strong>Estado de la Tienda</strong></label>
                        <select [(ngModel)]="tienda.estado" formControlName="tipoControl" class="form-control" enabled="false">
                          <option value="Activo" selected>Activo</option>
                          <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label position="stacked"><strong>Correo electrónico</strong></label>
                        <p style="padding:10px;border: #3A6073 2px solid;border-radius: 5px;">{{tienda.correo}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                        <label position="stacked"><strong>¿Realiza auxilio mecánico?</strong></label>
                        <select [(ngModel)]="tienda.auxilio" formControlName="auxilioControl" class="form-control">
                          <option value="Si">Si</option>
                          <option value="No">No</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <ion-button type="submit" [disabled]="!formGroup.valid" expand="block">Guardar</ion-button>
                  </div>
                </form>

        </div>
      </div>
      
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>