<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="irtiendas()"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" >
        <div class="col" style="border: #3A6073 2px solid" >
          <h2 style="text-align:center">Editar Tienda</h2>
          <img [src]="tienda.logo" style="display:block;margin:auto;padding-top: 10px;"/>
    
        </div>
        <div class="col" style="border: #3A6073 2px solid;" >           
                <form [formGroup]="formGroup" (ngSubmit)="guardartienda()" *ngIf="tienda" >
                  <div class="row">  
                     
                  </div>
                  <br/>
                  <div class="row" style="display: flex;justify-content: center;">  
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <a href="{{tienda.documento}}" target="_blank"> Visualizar imagen para la activación</a>

                    </div>

                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Nombre</strong></label>
                      <input class="form-control" type="text" placeholder="Bryan" formControlName="nombreControl" #nombre [(ngModel)]="tienda.nombre" >
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('required')">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('minlength')">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('maxlength')">
                          *Máximo 40 caracteres  
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <label position="stacked"><strong>Teléfono</strong></label>
                      <input class="form-control" type="text" placeholder="0999999999" formControlName="telefonoControl" #telefono [(ngModel)]="tienda.telefono" >
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('required')">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('minlength')">
                          *Mínimo 7 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('maxlength')">
                          *Máximo 10 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('pattern') && formGroup.get('telefonoControl').touched">
                          *El teléfono debe tener solo números
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Sector</strong></label>
                        <select formControlName="sectorControl" class="form-control" #sector [(ngModel)]="tienda.sector">
                          <optgroup label="Sur">
                                <option value="5 Esquinas">5 Esquinas</option>
                                <option value="Caupicho">Caupicho</option>
                                <option value="Chilibulo">Chilibulo</option>
                                <option value="Chillogallo">Chillogallo</option>
                                <option value="Chimbacalle">Chimbacalle</option>
                                <option value="Ciudadela Ejército">Ciudadela Ejército</option>
                                <option value="Ciudadela Ibarra">Ciudadela Ibarra</option>
                                <option value="Cornejo">Cornejo</option>
                                <option value="El Beaterio">El Beaterio</option>
                                <option value="El Calzado">El Calzado</option>
                                <option value="El Camal">El Camal</option>
                                <option value="El Pintado">El Pintado</option>
                                <option value="El Troje">El Troje</option>
                                <option value="Guajalo">Guajalo</option>
                                <option value="Guamaní">Guamaní</option>
                                <option value="La Argelia">La Argelia</option>
                                <option value="La Ecuatoriana">La Ecuatoriana</option>
                                <option value="La Ferroviaria">La Ferroviaria</option>
                                <option value="La Forestal">La Forestal</option>
                                <option value="La Magdalena">La Magdalena</option>
                                <option value="La Mena 2">La Mena 2</option>
                                <option value="La Victoria">La Victoria</option>
                                <option value="Luluncoto">Luluncoto</option>
                                <option value="Manuelita Saenz">Manuelita Saenz</option>
                                <option value="Nueva Aurora">Nueva Aurora</option>
                                <option value="Oriente Quiteño">Oriente Quiteño</option>
                                <option value="Puengasí">Puengasí</option>
                                <option value="Quito Sur">Quito Sur</option>
                                <option value="Quitumbe">Quitumbe</option>
                                <option value="Reino de Quito">Reino de Quito</option>
                                <option value="San Bartolo">San Bartolo</option>
                                <option value="San Martín">San Martín</option>
                                <option value="Santa Rita">Santa Rita</option>
                                <option value="Solanda">Solanda</option>
                                <option value="Turubamba">Turubamba</option>
                                <option value="Villaflora">Villaflora</option>
                            </optgroup>
                            <optgroup label="Centro">
                                <option value="Centro Histórico">Centro Histórico</option>
                                <option value="El Dorado">El Dorado</option>
                                <option value="El Ejido">El Ejido</option>
                                <option value="El Panecillo">El Panecillo</option>
                                <option value="El Tejar">El Tejar</option>
                                <option value="La Floresta">La Floresta</option>
                                <option value="La Guaragua">La Guaragua</option>
                                <option value="La Libertad">La Libertad</option>
                                <option value="La Loma Grande">La Loma Grande</option>
                                <option value="La Marín">La Marín</option>
                                <option value="La Ronda">La Ronda</option>
                                <option value="La Tola">La Tola</option>
                                <option value="La Vicentina">La Vicentina</option>
                                <option value="Miraflores">Miraflores</option>
                                <option value="Monjas">Monjas</option>
                                <option value="San Diego">San Diego</option>
                                <option value="San Marcos">San Marcos</option>
                                <option value="San Roque">San Roque</option>
                                <option value="Toctiuco">Toctiuco</option>
                            </optgroup>
                            <optgroup label="Norte">
                              <option value="Atucucho">Atucucho</option>
                              <option value="Bellavista">Bellavista</option>
                              <option value="Carcelén">Carcelén</option>
                              <option value="Comité del Prueblo"> Comité del Pueblo</option>
                              <option value="Cotocollao">Cotocollao</option>
                              <option value="El Batán">El Batán</option>
                              <option value="El Condado">El Condado</option>
                              <option value="El Inca">El Inca</option>
                              <option value="Guápulo">Guápulo</option>
                              <option value="Iñaquito">Iñaquito</option>
                              <option value="Kennedy">Kennedy</option>
                              <option value="La Bota">La Bota</option>
                              <option value="La Florida">La Florida</option>
                              <option value="La Gonzáles Suárez">La Gonzáles Suárez</option>
                              <option value="La Mariscal">La Mariscal</option>
                              <option value="Las Casas">Las Casas</option>
                              <option value="Mena de Hierro">Mena de Hierro</option>
                              <option value="Ponceano">Ponceano</option>
                              <option value="Quito Norte">Quito Norte</option>
                              <option value="Quito Tennis">Quito Tennis</option>
                              <option value="Rumiñahui">Rumiñahui</option>
                              <option value="San Carlos">San Carlos</option>
                            </optgroup>
                            <optgroup label="Los Valles Nororiente y Suroriente">
                              <option value="Alangasí">Alangasí</option>
                              <option value="Amaguaña">Amaguaña</option>
                              <option value="Conocoto">Conocoto</option>
                              <option value="Cumbayá">Cumbayá</option>
                              <option value="El Tingo">El Tingo</option>
                              <option value="La Merced">La Merced</option>
                              <option value="Pifo">Pifo</option>
                              <option value="Pintag y Tolontag">Pintag y Tolontag</option>
                              <option value="Puembo">Puembo</option>
                              <option value="San Rafael">San Rafael</option>
                              <option value="Tababela">Tababela</option>
                              <option value="Tumbaco">Tumbaco</option>
                            
                            
                            </optgroup>
                        </select>
                        <div class="validation-errors">
                          <p class="form-error"
                          *ngIf="formGroup.get('sectorControl').hasError('required')">   
                          *Requerido
                          </p>
                        </div>
                        
                    </div>
                    
                  </div>
                  <div class="form-group">
                    <label position="stacked"><strong>Dirección</strong></label>
                    <textarea type="text" class="form-control" placeholder="Av. Las Americas N°212" formControlName="direccionControl" #direccion [(ngModel)]="tienda.direccion"  rows="2" cols="50" ></textarea>
                  </div> 
                    <div class="validation-errors">
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('required')">
                        *Requerido
                      </p>
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('minlength')">
                        *Mínimo 3 caracteres 
                      </p>
                      <p class="form-error"
                        *ngIf="formGroup.get('direccionControl').hasError('maxlength')">
                        *Máximo 40 caracteres  
                      </p>
                    </div>
                  <div class="form-group row">
                    <div class="col">
                        <label position="stacked"><strong>Estado de la Tienda</strong></label>
                        <select [(ngModel)]="tienda.estado" formControlName="tipoControl" class="form-control" enabled="false">
                          <option value="Activo" selected>Activo</option>
                          <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label position="stacked"><strong>Correo electrónico</strong></label>
                        <p style="padding:10px;border: #3A6073 2px solid;border-radius: 5px;">{{tienda.correo}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                        <label position="stacked"><strong>¿Realiza auxilio mecánico?</strong></label>
                        <select [(ngModel)]="tienda.auxilio" formControlName="auxilioControl" class="form-control">
                          <option value="Si">Si</option>
                          <option value="No">No</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <ion-button type="submit" [disabled]="!formGroup.valid" expand="block">Guardar</ion-button>
                  </div>
                </form>

        </div>
      </div>
      
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>