<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/notificacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle notificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="donaciones" style="margin:10px">
    <ion-item *ngIf="notificacion" lines="none">
      <ion-label style="font-weight: bold;font-size: 20px;"><strong>Respuesta</strong></ion-label>
    </ion-item>
    <ion-item *ngIf="notificacion">
        <p >{{notificacion.respuesta }}</p>
    </ion-item>
    <ion-item  lines="none">
      <ion-label style="text-align: center;font-weight: bold;font-size: 20px;"><strong>Detalle del Alquiler</strong></ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label ><strong>Descripción</strong></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{donaciones.descripcion}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="tiendas">
        <ion-col>
          <ion-label ><strong>Tienda</strong></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{tiendas.nombre}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label ><strong>Fecha Donación:</strong></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{fechadonar | date:'dd/MM/yyyy'}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label ><strong>Estado:</strong></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{donaciones.estado}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label ><strong>Modo de entrega:</strong></ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{donaciones.modo}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  
</ion-content>
