<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Verificación</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="user$ | async as user">
  <form>
    <ion-row>
      <ion-col>
        <h2>
          ¡Gracias por registrarte!</h2>
        <p style="text-align: justify;">Se envió un enlace de verificación al siguiente correo <strong>{{user.email}}</strong>.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()"
          >Reenviar verificación email</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
