strong{
  color:white
}
.btn_eye_icon{
position: absolute;
right: 0;
bottom: 4px;
background: transparent;
ion-icon{
    font-size: 22px;
    color:#757575;
}
}

.btn_eye_icon:focus{
outline: none  !important;

}

ion-content{ 
  font-family: "Open Sans"
}

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

ion-content {


    --background: url("../../../assets/inicio/montanasn.jpg") 0 0/100% 100% no-repeat;
	background-size: cover;
}
.user-img {
	margin-top: -50px;
}
.user-img img {
	height: 100px;
	width: 100px;
}
.main-section {
	margin: 0 auto;
	margin-top: 80px;
	padding: 0;
}
.modal-content {
	background-color: #34495e;
	opacity: .95;
}
.user-name {
	margin: 10px 0;
}
.user-name h1 {
	font-size: 14px;
  color: white;
  padding: 0px;
  margin:0px;
}
.form-input button {
	width: 100%;

}
.btn-success {
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
}
.btn-success:hover {
	background-color: #27ae60;
	border: 1px solid #27ae60;
}
.link-part {
	background-color: #ecf0f1;
	padding: 15px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #c2c2c2;
}

