<app-header></app-header>
<ion-content padding>
  
  <!--<div class="container">
    <div class="row">
      
      <div class="mx-auto">
        <form [formGroup]="formGroup" (ngSubmit)="onLogin(email, password)">
          <div class="form-group">
            <label position="stacked"><strong>Tipo</strong></label>
            <select [(ngModel)]="tipo" formControlName="tipoControl" class="form-control">
              <option value="administrador" selected>Administrador</option>
              <option value="tienda">Tienda</option>
              <option value="users">Cliente</option>
            </select>
          
          </div>
      
          <div class="form-group">
              <label position="stacked"><strong>Correo electrónico</strong></label>
              <input type="email" class="form-control" placeholder="abc@gmail.com" formControlName="emailControl" #email>
          </div>

          <div class="validation-errors">
              <p class="form-error"
                *ngIf="formGroup.get('emailControl').hasError('required') && formGroup.get('emailControl').touched">
                *Requerido
              </p>
              <p class="form-error"
                *ngIf="formGroup.get('emailControl').hasError('email') && formGroup.get('emailControl').touched">
                *Ingrese un correo valido
              </p>
              <p class="form-error"
                *ngIf="formGroup.get('emailControl').hasError('minlength') && formGroup.get('emailControl').touched">
                *Mínimo 10 caracteres 
              </p>
              <p class="form-error"
                *ngIf="formGroup.get('emailControl').hasError('maxlength') && formGroup.get('emailControl').touched">
                *Máximo 40 caracteres  
              </p>
          </div>

          <div class="form-group">
            <label position="stacked"><strong>Contraseña</strong></label>
            <div class="row">
              <div class="col-sm">
                <ion-input formControlName="passwordControl" [type]="passwordTypeInput" #password 
                placeholder="***********"></ion-input>
              </div>
              <div class="col-sm">
                <button item-end type="button" class="btn_eye_icon" color="royal" style="border: none;" (click)="showPassword()">
                  <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                </button>
              </div>
            </div>
          </div>
      
          <div class="validation-errors">
            <p class="form-error"
              *ngIf="formGroup.get('passwordControl').hasError('required') && formGroup.get('passwordControl').touched">
              *Requerido
            </p>
            <p class="form-error"
              *ngIf="formGroup.get('passwordControl').hasError('minlength') && formGroup.get('passwordControl').touched">
              *Mínimo 8 caracteres 
            </p>
            <p class="form-error"
              *ngIf="formGroup.get('emailControl').hasError('passwordControl') && formGroup.get('passwordControl').touched">
              *Máximo 40 caracteres  
            </p>
          </div>
      
          <div class="form-group">
            <ion-button [disabled]="!formGroup.valid" type="submit" expand="block">
              Iniciar sesión
            </ion-button>
          </div>
        
    
        </form>
      </div>
    </div>

  <div class="row">
      <div class="col"></div>
      <div class="col">
        <p class="center-span">
          <a class="btn btn-link" (click)="olvidar()">¿Olvidaste tu contraseña?</a>
        </p>
      </div>
      <div class="col"></div>
    </div>
  </div>-->
  <div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
 
                    <form [formGroup]="formGroup" (ngSubmit)="onLogin(email, password)" id="login-form" class="form">
                      <div class="form-group">
                        <label position="stacked"><strong>Tipo</strong></label>
                        <select [(ngModel)]="tipo" formControlName="tipoControl" class="form-control">
                          <option value="administrador" selected>Administrador</option>
                          <option value="tienda">Tienda</option>
                          <option value="users">Cliente</option>
                        </select>
                      
                      </div>
                  
                      <div class="form-group">
                          <label position="stacked"><strong>Correo electrónico</strong></label>
                          <input type="email" class="form-control" placeholder="abc@gmail.com" formControlName="emailControl" #email>
                      </div>
            
                      <div class="validation-errors">
                          <p class="form-error"
                            *ngIf="formGroup.get('emailControl').hasError('required') && formGroup.get('emailControl').touched">
                            *Requerido
                          </p>
                          <p class="form-error"
                            *ngIf="formGroup.get('emailControl').hasError('email') && formGroup.get('emailControl').touched">
                            *Ingrese un correo valido
                          </p>
                          <p class="form-error"
                            *ngIf="formGroup.get('emailControl').hasError('minlength') && formGroup.get('emailControl').touched">
                            *Mínimo 10 caracteres 
                          </p>
                          <p class="form-error"
                            *ngIf="formGroup.get('emailControl').hasError('maxlength') && formGroup.get('emailControl').touched">
                            *Máximo 40 caracteres  
                          </p>
                      </div>
            
                      <div class="form-group">
                        <label position="stacked"><strong>Contraseña</strong></label>
                        <div class="row">
                          <div class="col-6">
                            <ion-input formControlName="passwordControl" [type]="passwordTypeInput" #password 
                            placeholder="***********" style="background:white;width: 80%;"></ion-input>
                          </div>
                          <div class="col">
                            <button item-end type="button" class="btn_eye_icon" color="royal" style="border: none;" (click)="showPassword()">
                              <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                  
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('passwordControl').hasError('required') && formGroup.get('passwordControl').touched">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('passwordControl').hasError('minlength') && formGroup.get('passwordControl').touched">
                          *Mínimo 8 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('emailControl').hasError('passwordControl') && formGroup.get('passwordControl').touched">
                          *Máximo 40 caracteres  
                        </p>
                      </div>
                  
                      <div class="form-group">
                        <ion-button [disabled]="!formGroup.valid" type="submit" expand="block">
                          Iniciar sesión
                        </ion-button>
                      </div>
                    
                
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
