<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/notificacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle notificación donación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="notificacion">
    <ion-item>
      <ion-label position="stacked"><strong>Respuesta</strong></ion-label>
      <div >
        <p >{{notificacion.respuesta }}</p>
      </div>
    </ion-item>
   
  </ion-list>
  <ion-list lines="full" *ngIf="donaciones" style="margin:10px">
    <h3>Detalle Donación</h3>
    <ion-item >
      <ion-label position="stacked"><strong>Descripción</strong></ion-label>
      <p>{{donaciones.descripcion}}</p>
    </ion-item>

    <ion-item *ngIf="tiendas">
      <ion-label position="stacked"><strong>Tienda</strong></ion-label>
      <div>
        <p>{{tiendas.nombre}}</p>
      </div>
    </ion-item>

    <ion-item >
      <ion-label>Fecha Donación:</ion-label>
      <p>{{fechadonar | date:'dd/MM/yyyy'}}</p>
    </ion-item>

    <ion-item >
      <ion-label position="stacked"><strong>Estado: </strong></ion-label>
      <p>{{donaciones.estado}}</p>
    </ion-item>

    <ion-item >
      <ion-label position="stacked"><strong>Modo de entrega: </strong></ion-label>
      <p>{{donaciones.modo}}</p>
    </ion-item>
  
   

  </ion-list>
  
  <app-footer></app-footer>
</ion-content>
