<ion-content>
  <ion-list >
    <div *ngFor="let noti of notificaciones;let indice=index">
      <div *ngIf="noti.idusuario==id">
        <ion-card *ngIf="noti.tipo=='alquiler'" [ngStyle]="{'background':noti.color}">
        
          <ion-card-content>
            <ion-row *ngFor="let tienda of tiendas;let indice=index" >
              <ion-col *ngIf="tienda.id==noti.idtienda">
                <p class="subtitulo">Tienda:</p>
              </ion-col>
              <ion-col *ngIf="tienda.id==noti.idtienda">
                <p>{{tienda.nombre}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="subtitulo">Fecha:</p>
              </ion-col>
              <ion-col>
                <p>{{noti.fecha.toMillis() | date:'dd/MM/yyyy'}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="subtitulo">Solicitud:</p>
              </ion-col>
              <ion-col>
                <p>Alquiler</p>
              </ion-col>
            </ion-row>
            <br/>
            
            <ion-button  button [routerLink]="['/detallenotificacion', noti.id]"  expand="full" color="primary" style="width: 100px;height: 40px;">Ver</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
     
  
    </div>
  </ion-list>
    
  <app-footer></app-footer>


</ion-content>
