<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bienvenida"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
      <button  item-end  class="btn_eye_icon"  (click)="showPassword(password)">
        <ion-icon name="eye-off-outline"></ion-icon>
    </button>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <span class="center-span"> or </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">Iniciar sesión con Google</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="center-span">
          <a routerLink="/forgot-password">¿Has olvidado tu contraseña?</a>
        </p>
      </ion-col>
    </ion-row>

  </form>

  <!-- 
  <ion-row>
    <ion-col>
      <ion-button color="secondary" expand="block" routerLink="/register">Registrarse</ion-button>
    </ion-col>
  </ion-row>-->
</ion-content>
