
<ion-content>
  <div *ngFor="let alquiler of alquileres" >
    <div *ngIf="alquiler.aprobacion==false && alquiler.anular==false">
    <div *ngFor="let usuario of usuarios">
      <div *ngIf="alquiler.idusuario==usuario.uid">
  <table class="table ">
          <thead>
            <tr>
              <th scope="col">Nombre Solicitante</th>
              <th scope="col">Apellido Solicitante</th>
              <th scope="col">Fecha Alquiler</th>
              <th scope="col">Hora Alquiler</th>
              <th scope="col">Fecha Devolución</th>
              <th scope="col">Hora Devolución</th>
              <th scope="col">Aprobar</th>
              <th scope="col">Motivo rechazo</th>
              <th scope="col">Rechazar</th>
            </tr>
          </thead>
          <tbody>
          <tr>
         <td> {{usuario.nombres}}</td>
         <td> {{usuario.apellidos}}</td>
         <td>{{alquiler.fechaalquiler.toMillis() | date:'dd/MM/yyyy'}}</td>
         <td>{{alquiler.horaalquiler}}</td>

         <td>{{alquiler.fechadevolucion.toMillis() | date:'dd/MM/yyyy'}}</td>
         <td>{{alquiler.horadevolucion}}</td>
          <td><ion-button  *ngIf="notificacion.respuesta==''" (click)="aprobaralquiler(alquiler,alquiler.id)" color="warning">
            Aprobar
          </ion-button></td>
          <td><ion-input type="text" placeholder="Ingresa el motivo" [(ngModel)]="notificacion.respuesta" required></ion-input></td>
          <td><ion-button  (click)=" rechazaralquiler(alquiler,alquiler.id)" color="danger">
            Rechazar
          </ion-button></td>
        </tr>
        </tbody>
   
    </table>
  </div>
</div>
</div>

</div> 
<div>
  <div class="container">
    <div class="row mb-3">
      <div class="col-6 themed-grid-col">
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
      </div>
    </div>
   </div>
  
<app-footer></app-footer>
</div>

</ion-content>
