<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/alquiler-donacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Donación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="donaciones" style="margin:10px">
    <ion-item >
      <ion-label position="stacked"><strong>Descripción</strong></ion-label>
      <ion-input required type="text" placeholder="Nombre" [(ngModel)]="donaciones.descripcion" readonly="readonly"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="stacked"><strong>Tienda</strong></ion-label>
      <div *ngFor="let tienda of tiendas;let indice=index">
        <ion-input *ngIf="tienda.id==donaciones.idtienda" required type="text" placeholder="Nombre" [(ngModel)]="tienda.nombre" readonly="readonly"></ion-input>
      </div>
    </ion-item>

    <ion-item >
      <ion-label>Fecha Donación:</ion-label>

      <!-- <p>{{donaciones.fechadonacion.toMillis() | date:'yyyy/MM/dd'}}</p>-->
  
    </ion-item>

    <ion-item >
      <ion-label position="stacked"><strong>Estado: </strong></ion-label>
      <ion-input required type="text" placeholder="Nombre" [(ngModel)]="donaciones.estado" readonly="readonly"></ion-input>
    </ion-item>

    <ion-button *ngIf="donaciones.anular==false" expand="full" (click)="cancelaralquilar()">Anular</ion-button>
  
   

  </ion-list>

</ion-content>
