<ion-header>
  <app-header-tienda></app-header-tienda>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="alquiaprobar">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Pendientes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="alquiaprobadas">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        <ion-label>Aprobados</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="alquirechazadas">
        <ion-icon name="close-circle-outline"></ion-icon>
        <ion-label>Rechazados</ion-label>
      </ion-tab-button>  
    </ion-tab-bar>
  </ion-tabs>
 
</ion-content>
