<ion-header>
  <ion-toolbar>
    <ion-title>pruebas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <article class="main-container">
      <div class="login-wrapper">
  
        <!-- Contenido del lado izquierdo -->
        <section class="form-wrapper">
  
          <!-- Header con links y botón de back -->
          <header class="form-header">
  
      
  
          </header>
  
          <!-- Contenedor del formulario y sus mensajes -->
          <div class="form-container">
  
            <!-- Mensaje de login -->
            <div class="form-messages">
              <h2>Login</h2>
              <p>Welcome! Please, fill username and password to sign in into your account.</p>
            </div>
  
            <!-- Formulario -->
            <form action="fakeurl.php" class="form">
              <input type="email" name="user-email" id="user-email" placeholder="Type your email">
              <input type="password" name="user-password" id="user-password" placeholder="Type your password">
              <a href="#" class="forgot-pass">Forgot your password?</a>
              <a href="#" class="login-button">Login Now</a>
            </form>
  
            <!-- Separador entre botón y opciones -->
            <hr class="separator">
  
            <!-- Otras opciones de inicio login -->
            <div class="login-options">
  
              <p class="login-text">You can also login with:</p>
  
              <div class="login-icons">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </div>
  
            </div>
  
          </div>
  
        </section>
  
        <!-- Contenido del lado derecho -->
        <section class="image-wrapper">
  
          <div class="image-message">
  
            <div class="image-hr-container">
              <hr class="image-hr">
            </div>
  
            <div class="image-text">
              <h2>Start your journey now</h2>
              <p>Start create your amazing website with us! Login into your account now and huwala.</p>
            </div>
  
          </div>
  
        </section>
      </div>
    </article>
  </main>
</ion-content>
