<ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #EAEAEA !important;">
    <a class="navbar-brand" href="perfil-administrador">
      <img src="assets/inicio/bicisquito.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item" id="tab-perfil">
          <a class="btn nav-link" (click)="rediperfil()">Perfil</a>
        </li>
        <li class="nav-item" id="tab-tienda">
          <a class="btn nav-link" (click)="reditienda()">Tiendas</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link active" (click)="rediusuario()" ><b>Clientes</b></a>
        </li>
   
   
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <a class="btn btn-outline-success my-2 my-sm-0" style="color: #3A6073;background-color: #fff;
        border: 1px solid #3A6073;" (click)="salir()">Cerrar Sesión</a>
      </form>
    </div>
  </nav>
  
  
</ion-header>

<ion-content>
  <section class="py-5 text-center">
    <div class="container">
      <h4 align="center">Ciudadanos registrados</h4> 
      <div class="row">
        <div class="col">                    
              <input type="text" class="form-control" placeholder="Ingrese el nombre del ciudadano" #busquedanombre >
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="buscar(busquedanombre)" style="width: 300px;">Buscar</button>

        </div>
        
      </div>
      <br/>
      <div class="table-responsive table-striped table-bordered">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" style="text-align: center">Foto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Estado</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 5, currentPage: pageActual } ;let indice=index">
              <td scope="row">{{indice+1}}</td>
              <td ><img [src]="usuario.foto" style="height:100px;display:block;margin:auto"/></td>
              <td>{{usuario.nombres}}</td>
              <td>{{usuario.correo}}</td>
              <td>{{usuario.estado}}</td>
              <td><button type="button" class="btn btn-primary" [routerLink]="['/edit-cliente', usuario.uid]">Editar</button></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  </section>
    
    <app-footer></app-footer>
</ion-content>
