<ion-header>
  <app-header-administrador></app-header-administrador>
</ion-header>

<ion-content>
    <div class="container">
      <h5 align="center">Listador de Clientes</h5> 
      <div class="table-responsive">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" style="text-align: center">Foto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Estado</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios ;let indice=index">
              <th scope="row">{{indice+1}}</th>
              <td><img [src]="usuario.foto" style="height:100px;display:block;margin:auto"/></td>
              <td>{{usuario.nombres}}</td>
              <td>{{usuario.correo}}</td>
              <td>{{usuario.estado}}</td>
              <td><button type="button" class="btn btn-primary" [routerLink]="['/edit-cliente', usuario.uid]">Editar</button></td>
            </tr>
          
            
          </tbody>
        </table>
      </div>
    </div>
</ion-content>
