table th {
    color: #fff;
    background-color: #38A1E9;
  }
table td,th{
    text-align: center; vertical-align: middle;
}
ion-content{
  font-family: "Open Sans"
}

h4 {
  color: #4f4866;
  font-weight: normal;
  font-size: 25px;
}
h5  {
  color: #ffffff;
}