<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col >
      <button  [routerLink]="['/profile', id]" block>
        <img src="../../../assets/menu/perfil.png">
        
      </button>
      <p style="text-align: center;width: 80%;height: 80%;">Perfil</p>
    </ion-col>
    <ion-col >
      <button  [routerLink]="['/formulario-donacion', id]" block>
        <img src="../../../assets/menu/donar.png">
        
      </button>
      <p style="text-align: center;width: 80%;height: 80%;">Donar Bici</p>
    </ion-col>
    
    <ion-col>
      <button  (click)="salir()" block>
        <img src="../../../assets/menu/salir.png">
        
      </button>
      <p style="text-align: center;width: 80%;height: 80%;">Salir</p>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
      <button  [routerLink]="['/formulario-alquiler', id]" block>
        <img src="../../../assets/menu/alquilar.png">
        
      </button>
      <p style="text-align: center;width: 80%;height: 80%;">Alquilar Bicicleta</p>
    </ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
   

  </ion-row>
  
  
</ion-content>
