ion-content{
    --background: url("../../../assets/login/bg.jpg") 0 0/100% 100% no-repeat;
}

.centrartextos{
    --text-align: center
}
img{
    height: 120px;
    
}
ion-col{
    display: flex;justify-content: center;align-items: center;;
}

