<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/nav/logo.png" width="40" height="40" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="preguntas-frecuentes">Preguntas frecuentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registro-tienda">Registra tu tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registro-cliente">Registra Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="descagar-app">Descarga nuestra App</a>
      </li>
  
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <a class="btn btn-outline-success my-2 my-sm-0" style="color:white;border-color:white" href="iniciar-sesion">Iniciar Sesión</a>
    </form>
  </div>
</nav>