<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="assets/nav/logo.png" width="40" height="40" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Preguntas frecuentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registra tu tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Descarga nuestra App</a>
      </li>
  
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <button class="btn btn-outline-success my-2 my-sm-0" style="color:white;border-color:white" type="submit">Iniciar Sesión</button>
    </form>
  </div>
</nav>