<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  
    <ion-tabs>
      <ion-tab-bar slot="top">
      
  
        <ion-tab-button tab="cliente">
          <ion-icon name="person-add-outline"></ion-icon>
          <ion-label>Registro Ciudadano </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="tienda" (click)="mensajeubi()">
          <ion-icon name="briefcase-outline"></ion-icon>
          <ion-label>Registro Tienda </ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
    <br/>

</ion-content>