<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
<ion-tabs>
  <ion-tab-bar slot="top" color="medium">
    <ion-tab-button >
      <ion-icon name=""></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cliente">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Registro Cliente </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tienda">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Registro Tienda </ion-label>
    </ion-tab-button>
    <ion-tab-button >
      <ion-icon name=""></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>