<ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #EAEAEA !important;">
    <a class="navbar-brand" (click)="rediperfil()">
      <img src="assets/inicio/bicisquito.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item" id="tab-perfil">
          <a class="btn nav-link" (click)="rediperfil()">Perfil</a>
        </li>
        <li class="nav-item" id="tab-tienda">
          <a class="btn nav-link" (click)="alquileresnav()">Alquiler</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link active" (click)="donacionnav()" ><b>Donación</b></a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="mensajeconfirmacionmapa()" >Tiendas</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="actividadesnav()" >Actividades</a>
        </li>
   
   
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <a style="padding: 10px;" (click)="notifinav()" >
          <app-menu></app-menu>
        </a>
        
        <a class="btn btn-outline-success my-2 my-sm-0" style="color: #3A6073;background-color: #fff;
        border: 1px solid #3A6073;" (click)="salir()">Cerrar Sesión</a>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content> 
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" >
      


        <div class="col" style="border: #3A6073 2px solid;display: flex;
        align-items: center;justify-content: center;">
        <div class="row" style="align-items: center;justify-content: center;">
          <h2 style="text-align:center">Formulario de Alquiler</h2>
        
          
          <img src="../../../assets/ciudadano/donar.jpg" style="height:300px">
        </div>
        </div>
        <div class="col" style="border: #3A6073 2px solid;" >   
                <form [formGroup]="formGroup" *ngIf="donacion" (ngSubmit)="crearDonacion(content)" >
                  <div class="form-group row">
                    <div class="col">
                      <ion-item>
                        <ion-label position="stacked">Seleccione fecha de donación</ion-label>
                        <ion-datetime displayFormat="DD MMMM YYYY" 
                        placeholder="Dia Mes Año" 
                        (ionChange)="cambiofecha($event)"
                        min="{{fechaactual | date: 'yyyy-MM-dd'}}" 
                        max="2021-12-31" 
                        cancelText="Cancelar"
                        doneText="Seleccionar"
                        formControlName="fechaControl"
                        >
                        </ion-datetime>
                      </ion-item>
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="(formGroup.get('fechaControl').hasError('required') && formGroup.get('fechaControl').touched) || formGroup.get('fechaControl').untouched">
                          *Requerido
                        </p>
                      </div>
                    </div>

                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <ion-item >
                        <ion-label>Tienda</ion-label>
                        <ion-select [(ngModel)]="donacion.idtienda" ok-text="Seleccionar" 
                        cancel-text="Cancelar" formControlName="tiendaControl" >
                          <ion-select-option *ngFor="let tienda of tiendas" [value]="tienda.id"> 
                            <ion-label>
                            {{ tienda.nombre}}
                          </ion-label>
                          
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="(formGroup.get('tiendaControl').hasError('required') && formGroup.get('tiendaControl').touched) || formGroup.get('tiendaControl').untouched">
                          *Requerido
                        </p>
                      </div>
                    </div>
              
                  </div>
                  
                  
                  <div class="form-group row">
                    <div class="col">
                      <ion-item >
                        <ion-label>Estado de bicicleta</ion-label>
                        <ion-select [(ngModel)]="donacion.estado" ok-text="Seleccionar" 
                        cancel-text="Cancelar" formControlName="estadoControl" >
                          <ion-select-option value="Bueno"> 
                            <ion-label>
                              Bueno
                            </ion-label>
                          </ion-select-option>
                          <ion-select-option value="Reparar"> 
                            <ion-label>
                              Reparar
                            </ion-label>
                          </ion-select-option>
                    
                        </ion-select>
                      </ion-item>
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="(formGroup.get('estadoControl').hasError('required') && formGroup.get('estadoControl').touched) || formGroup.get('estadoControl').untouched">
                          *Requerido
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col">
                      <ion-item>
                        <ion-label position="stacked">Descripción</ion-label>
                        <ion-input required type="text" placeholder="Descripción" [(ngModel)]="donacion.descripcion"
                        formControlName="descripcionControl"></ion-input>
                      </ion-item>
            
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="(formGroup.get('descripcionControl').hasError('required') && formGroup.get('descripcionControl').touched) || formGroup.get('descripcionControl').untouched">
                          *Requerido
                        </p>
                        <p class="form-error"
                        *ngIf="formGroup.get('descripcionControl').hasError('minlength') && formGroup.get('descripcionControl').touched">
                        *Mínimo 5 caracteres 
                      </p>
                      <p class="form-error"
                        *ngIf="formGroup.get('descripcionControl').hasError('maxlength') && formGroup.get('descripcionControl').touched">
                        *Máximo 30 caracteres  
                      </p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col">
                      <ion-item >
                        <ion-label>Tipo de entrega</ion-label>
                        <ion-select [(ngModel)]="donacion.modo" ok-text="Seleccionar" 
                        formControlName="modoControl" cancel-text="Cancelar"  (ionChange)="onSelectChange()">
                          <ion-select-option value=" A la tienda"> 
                            <ion-label>
                              A la tienda
                            </ion-label>
                          </ion-select-option>
                          <ion-select-option value="A mi domicilio"> 
                            <ion-label>
                              A mi domicilio
                            </ion-label>
                          </ion-select-option>
                    
                        </ion-select>
                      </ion-item>
            
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="(formGroup.get('modoControl').hasError('required') && formGroup.get('modoControl').touched) || formGroup.get('modoControl').untouched">
                          *Requerido
                        </p>
                      
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <ion-item id="dir" style="display: none;">
                        <ion-label position="stacked">Dirección</ion-label>
                        <ion-input id="intro" required type="text" placeholder="Dirección" [(ngModel)]="donacion.direccion"
                        formControlName="descripcionControl"></ion-input>
                      </ion-item>
            

                    </div>
                  </div>

                  <div class="form-group">
                    <ion-button [disabled]="!formGroup.valid" type="submit" expand="full">
                      Realizar Donación
                    </ion-button>
                  </div>
                </form>
            
          
        </div>
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Mensaje</h4>
        </div>
        <div class="modal-body">
          <p>Se envió correctamente su formulario de donación.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="close()">Aceptar</button>
        </div>
      </ng-template>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>
