<ion-header>
  <app-header-tienda></app-header-tienda>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="donaaprobar">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Por Aprobar </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="donaaprobadas">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        <ion-label>Aprobadas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="donarechazadas">
        <ion-icon name="close-circle-outline"></ion-icon>
        <ion-label>Rechazadas</ion-label>
      </ion-tab-button>  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
