<ion-header>
  <app-header-tienda></app-header-tienda>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="!donaciones || donaciones.length == 0">
      <ion-label>No hay donaciones</ion-label>
    </ng-container>

    <div *ngFor="let donacion of donaciones">
      <ion-label>
        <ion-grid> 
          <ion-row>
            <ion-col>
              <ion-label><strong>
                Fecha para donación:
              </strong>
              </ion-label>
              <ion-label>
                {{donacion.fechadonacion.toMillis() | date:'dd/MM/yyyy'}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>
                <strong>
                Estado de donación:
              </strong>
              </ion-label>
              <ion-label>
                {{donacion.aprobacion}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-button  (click)="updateDonacion(donacion,donacion.id)">
                <ion-icon slot="start" name="locate"></ion-icon>
                Cambiar Estado
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label> 

    </div>
  </ion-list>
</ion-content>
