<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let todo of todos">
    <ion-item lines="inset" button [routerLink]="['/detallenotificacion', todo.id]">
      <ion-label>
        <h2><strong>{{ todo.tipo }}</strong></h2>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="subtitulo">Fecha solicitud:</p>
            </ion-col>
            <ion-col>
              <p>{{todo.fecha.toMillis() | date:'yyyy/MM/dd'}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="subtitulo">Visualizado:</p>
            </ion-col>
            <ion-col>
              <p>{{todo.visualizar}}</p>
            </ion-col>
          </ion-row>
        

        
        </ion-grid>
      </ion-label>
   
    </ion-item>

  </ion-item-sliding>
</ion-content>
