.mx-auto {
    display: flex;  /*display: flex; el cual vuelve al contenedor un elemento flex*/
    
    align-items: center;  /*justify-content: center; le decimos a los elementos del contenedor flex que se ubiquen al centro del eje principal eje horizontal*/
    
    justify-content: center; /*align-items: center; estamos diciendo que queremos que los elementos dentro del contenedor flex se ubiquen en el centro del eje secundario eje vertical*/
    
    margin: 10px;
  }
.form-group{
  width: 500px;
}
