<ion-header>
  <app-header-administrador></app-header-administrador>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item-sliding *ngFor="let tienda of tiendas">
      <ion-item lines="inset" button [routerLink]="['/edit-tienda', tienda.uid]">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <b>Nombre: </b>{{tienda.nombre}}
            </div>
            <div class="col-sm">
              <b>Dirección: </b>{{tienda.direccion}}
            </div>
            <div class="col-sm">
              <b>Estado: </b>{{tienda.estado}}
            </div>
            
          </div>
        </div>
        
  
      </ion-item>
 
     
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
