<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Busca tu tienda
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 <ion-content>
  <div id="map" ></div>
  <ion-button expand="full" (click)="alquilarbici()" [disabled]=desabilitarboton>Alquilar Bici</ion-button>
  <ion-button expand="full" (click)="donabici()" [disabled]=desabilitarboton>Donar Bici</ion-button>


 </ion-content>