<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/mis-bicis"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Bicicleta</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" >

        <div class="col" style="background-color: #ffffff;border: #3A6073 2px solid;display: flex; align-items: center;justify-content: center;">
        <div class="row" style="align-items: center;justify-content: center;">
          <div class="row">  
            <img [src]="bicicleta.imagen" style="width:80%;margin:auto;padding-top: 10px;padding-bottom: 10px;"/>
        </div>
        <div class="row" style="display: flex;justify-content: center;">  
          <label style="color:blue">
            Cambiar foto de perfil
            <input type="file" accept=".png, .jpg" name="fileSubir" (change)="subirImagen($event)" style="display:none;">
          </label>
        </div>
        
        </div>
        </div>
     
        <div class="col" style="border: #3A6073 2px solid;" >   
            <div class="row">
              
                <form [formGroup]="formGroup" (ngSubmit)="guardarBici()" *ngIf="bicicleta" >
                  
                  
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Nombre</strong></label>
                      <input class="form-control" type="text" placeholder="Ejemplo: Bicicleta202" formControlName="nombreControl" #nombre [(ngModel)]="bicicleta.nombre">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('required') && formGroup.get('nombreControl').touched">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('minlength') && formGroup.get('nombreControl').touched">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('maxlength') && formGroup.get('nombreControl').touched">
                          *Máximo 40 caracteres  
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <label position="stacked"><strong>Color: </strong></label>
                      <input class="form-control" type="text" placeholder="Ejemplo: Rojo" formControlName="colorControl"  [(ngModel)]="bicicleta.color">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('colorControl').hasError('required') && formGroup.get('colorControl').touched">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('colorControl').hasError('minlength') && formGroup.get('colorControl').touched">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('colorControl').hasError('maxlength') && formGroup.get('colorControl').touched">
                          *Máximo 40 caracteres  
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label position="stacked"><strong>Descripción</strong></label>
                    <textarea type="text" class="form-control" placeholder="Ejemplo: Reparada pedal" formControlName="descripcionControl"  [(ngModel)]="bicicleta.descripcion"  rows="2" cols="50"></textarea>
                  </div> 
                  <div class="validation-errors">
                        <p class="form-error"
                        *ngIf="formGroup.get('descripcionControl').hasError('required') && formGroup.get('descripcionControl').touched">
                    *Requerido
                    </p>
                    <p class="form-error"
                    *ngIf="formGroup.get('descripcionControl').hasError('minlength') && formGroup.get('descripcionControl').touched">
                    *Mínimo 3 caracteres 
                    </p>
                    <p class="form-error"
                    *ngIf="formGroup.get('descripcionControl').hasError('maxlength') && formGroup.get('descripcionControl').touched">
                    *Máximo 40 caracteres  
                    </p>
                </div>
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Tipo de bicicleta</strong></label>
                        <select [(ngModel)]="bicicleta.tipo" formControlName="tipoControl" class="form-control">
                          <option value="Bicicleta de Carretera" selected>Bicicleta de Carretera</option>
                          <option value="Bicicleta de Montaña">Bicicleta de Montaña</option>
                          <option value="BMX">BMX</option>
                          <option value="Bicicleta híbrida o urbana">Bicicleta híbrida o urbana</option>
                          <option value="Para contrarreloj">Para contrarreloj</option>
                          <option value="‘Cruiser’ o playera">‘Cruiser’ o playera</option>
                          <option value="Infantil">Infantil</option>
                          <option value="Reclinada">Reclinada</option>
                          <option value="Otro">Otro</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <ion-button type="submit" [disabled]="!formGroup.valid" expand="block">Guardar</ion-button>
                  </div>
                </form>
            
            </div>
        </div>
      </div>
      
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>