<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let donacion of donaciones;let indice=index">
      <ion-item button [routerLink]="['/donar', donacion.id]">
        <ion-label>
          <h2>Solicitud {{indice+1}}</h2>
          <h2>Fecha solicitud: {{donacion.descripcion}}</h2>
    
          <h2>Fecha devolución : {{donacion.id}}</h2>
        </ion-label>
      </ion-item> 
    </ion-item-sliding>
  </ion-list>

</ion-content>
