<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let donacion of donaciones;let indice=index">
      <ion-item button [routerLink]="['/donar', donacion.id]">
        <ion-label>
          <h2><strong>Solicitud {{indice+1}}</strong></h2>
          <h2><strong>Fecha solicitud:</strong> {{donacion.fechadonacion.toMillis() | date:'yyyy/MM/dd'}}</h2>
          <h2><strong>Estado de la Bicicleta:</strong> {{donacion.estado}}</h2>
          <h2><strong>Descripción de la Bicicleta:</strong> {{donacion.descripcion}}</h2>
          <ion-label *ngFor="let tienda of tiendas;let indice=index">
            <h2 *ngIf="tienda.id==donacion.idtienda"><strong>Tienda:</strong> {{tienda.nombre}}</h2>
          </ion-label>
   
        </ion-label>
      </ion-item> 
    </ion-item-sliding>
  </ion-list>

</ion-content>
