.mx-auto {
    display: flex;  /*display: flex; el cual vuelve al contenedor un elemento flex*/
    
    align-items: center;  /*justify-content: center; le decimos a los elementos del contenedor flex que se ubiquen al centro del eje principal eje horizontal*/
    
    justify-content: center; /*align-items: center; estamos diciendo que queremos que los elementos dentro del contenedor flex se ubiquen en el centro del eje secundario eje vertical*/
    
    margin: 10px;
  }

  .center-span {
    display: block;
    text-align: center;
  }

  

.btn_eye_icon{
  position: absolute;
  right: 0;
  bottom: 4px;
  background: transparent;
  ion-icon{
      font-size: 22px;
      color:#757575;
  }
}

.btn_eye_icon:focus{
  outline: none  !important;
  
}
/////////

ion-content{ 
  font-family: "Open Sans"
}
ion-input{ 
  background-color: #ffffff;
  
}

ion-textarea{
  background-color: #ffffff ;
}
.user-img {
	margin-top: -50px;
}
.user-img img {
	height: 100px;
	width: 100px;
}
.main-section {
	margin: 0 auto;
	margin-top: 80px;
	padding: 0;
}

.user-name {
	margin: 10px 0;
}
.user-name h1 {
	font-size: 14px;
  color: white;
  padding: 0px;
  margin:0px;
}
.form-input button {
	width: 100%;

}
.btn-success {
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
}
.btn-success:hover {
	background-color: #27ae60;
	border: 1px solid #27ae60;
}
.link-part {
	background-color: #ecf0f1;
	padding: 15px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #c2c2c2;
}
.padre {
  background: yellow;
  height: 100px;
}
