<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alquiler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!notificaciones || notificaciones.length == 0">
    <p class="centrarmensaje" style="margin-top: 10px;">No existe notificaciones de alquileres.</p>
  </ng-container>
  <ion-list>
    <div *ngFor="let noti of notificaciones | paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index">
      <div *ngIf="noti.idusuario==id">
        <ion-card *ngIf="noti.tipo=='alquiler'" [ngStyle]="{'background':noti.color}">
          <ion-row style="border-bottom: solid 1px;border-color: #2355EF;">
            <ion-col>
              <ion-icon name="mail-outline"  style="font-size: 20px;"></ion-icon>
  
            </ion-col>
            <ion-col>
              <p style="font-size: 20px;padding: 0px;margin: 0px;font-weight: bold;">
                 <!--La fecha de solicud se envió {{alqui.fecha.toMillis() | date:'dd/MM/yyyy'}}-->
                 Alquiler
              </p>
                
            </ion-col>
            <ion-col style="text-align: center;">
              <ion-button  button [routerLink]="['/detallenotificacion', noti.id]" color="primary" style="height: 24px;width: 60%;">Ver</ion-button>
            </ion-col>
          </ion-row>
          <div *ngFor="let tienda of tiendas;let indice=index" >
            
            <ion-row *ngIf="tienda.id==noti.idtienda">
              <ion-col >
                <p style="font-size: 12px;">
                  <b>Tienda:</b> {{tienda.nombre}}
                  <br/>
                  <b>Fecha:</b> {{noti.fecha.toMillis() | date:'dd/MM/yyyy'}}
                  <br/>
                  <b>Solicitud:</b> Alquiler
                  <br/>
                </p>
                
              
              </ion-col>
       
            </ion-row>
          </div>
        </ion-card>
      </div>
      
    </div>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

  </ion-list>
    



</ion-content>
