ion-content{
    --background: url("../../../assets/login/bg.jpg") 0 0/100% 100% no-repeat;
}
ion-select{
    max-width: 100% !important;
    border: 2px solid #aeafb9;
    border-radius: 6px;
}

alert-radio-label,.sc-ion-alert-md {
    --font-size: 14px!important;
}