<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Formulario</ion-title>
    <ion-buttons slot="end" style="padding: 10px;" [routerLink]="['/notificacion']">
      <app-notificacion></app-notificacion>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;font-weight: bold;">Alquiler</h2>
  <div class="row" style="display: flex;justify-content: center;">
    <img width="60%" src="../../../assets/formulario-alquiler/renta.jpg"/>
  </div>
  <form [formGroup]="formGroup" *ngIf="alquiler">
    <ion-item  >
      <ion-label position="stacked">Seleccione la fecha para el alquiler</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY"   
      (ionChange)="cambiofecha($event)"
      placeholder="Dia Mes Año"    
      min="{{fechaactual | date: 'yyyy-MM-dd'}}" 
      max="2021-12-31" 
      cancelText="Cancelar"
      doneText="Seleccionar"
      formControlName="fechaAlquiler"
      >
      </ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="(formGroup.get('fechaAlquiler').hasError('required') && formGroup.get('fechaAlquiler').touched) || formGroup.get('fechaAlquiler').pristine">
        *Requerido
      </p>
    
    </div>
    
    <ion-item>
      <ion-label position="stacked">Hora alquiler</ion-label>
      <ion-datetime cancelText="Cancelar"
      doneText="Seleccionar" formControlName="horaAlquiler"  displayFormat="HH:mm" placeholder="Hora Minutos" (ionChange)="seleccionarhora($event)"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="(formGroup.get('horaAlquiler').hasError('required') && formGroup.get('horaAlquiler').touched) || formGroup.get('horaAlquiler').pristine">
        *Requerido
      </p>
    
    </div>

    <ion-item>
      <ion-label position="stacked">Seleccione la fecha de devolución</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY"   
      (ionChange)="cambiofecha2($event)"
      placeholder="Dia Mes Año"    
      min="{{alquiler.fechaalquiler | date: 'yyyy-MM-dd'}}" 
      max="2021-12-31" 
      cancelText="Cancelar"
      doneText="Seleccionar"
      formControlName="fechaDevolucion"
      >
      </ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="(formGroup.get('fechaDevolucion').hasError('required') && formGroup.get('fechaDevolucion').touched) || formGroup.get('fechaDevolucion').pristine" >
        *Requerido
      </p>
    
    </div>
    <ion-item>
      <ion-label position="stacked">Hora devolución</ion-label>
      <ion-datetime  cancelText="Cancelar"
      doneText="Seleccionar" formControlName="horaDonacion" displayFormat="HH:mm" placeholder="Hora Minutos" (ionChange)="seleccionarhoradev($event)"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="(formGroup.get('horaDonacion').hasError('required') && formGroup.get('horaDonacion').touched) || formGroup.get('horaDonacion').pristine">
        *Requerido
      </p>
    
    </div>
    <ion-item lines="none">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-padding-bottom">
            <ion-label position="stacked">Seleccione la  Tienda</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="alquiler" class="ion-padding-bottom">
          <ion-select [(ngModel)]="alquiler.idtienda" ok-text="Seleccionar" 
      cancel-text="Cancelar" formControlName="tindaSeleccion" (ionChange)="onSelectChange()" style="width: 100%;">
        <ion-select-option *ngFor="let tienda of tiendas2" [value]="tienda.id"> 
          <ion-label>
          {{ tienda.nombre}}
        </ion-label>
        </ion-select-option>
        </ion-select>
        </ion-row>
      </ion-grid>
      
    </ion-item>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="(formGroup.get('tindaSeleccion').hasError('required') && formGroup.get('tindaSeleccion').touched) || formGroup.get('tindaSeleccion').pristine">
        *Requerido
      </p>
    
    </div>
    
    <ion-item *ngIf="imgbici">
      <img height="100" [src]="imgbici" style="display:block;
              margin:auto;margin-top: 10px;margin-bottom: 10px;">
    </ion-item>
    <ion-item *ngIf="direc">
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input formControlName="dirDonacion" type="text" [(ngModel)]="direc"></ion-input>
    </ion-item>


    <!--<ion-button disabled={{desabilitarboton}} expand="full" (click)="abrirmodal()">Seleccione la Bicicleta</ion-button>-->

    <ion-button [disabled]="!formGroup.valid" expand="full" (click)="crearAlquiler()" style="border-style: solid;border-color: #01C642;border-radius: 10px;">Realizar Alquiler</ion-button>
 
  </form>
    

      

    
   
  


</ion-content>
