<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="OnSubmitRegister()">
    <ion-item>
      <ion-label position="floating" >Cedula</ion-label>
      <ion-input type="number" [(ngModel)]="cedula" name="cedula" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Nombres</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="apellidos" name="apellidos" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Teléfono</ion-label>
      <ion-input type="tel" [(ngModel)]="telefono" name="telefono" required="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Correo electrónico</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Contraseña</ion-label>
      <ion-input  type="password" [(ngModel)]="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="dark">Registrarse</ion-button>
  </form>
<br>
<div class="ion-text-center ion-margin-top">
  <a routerLink="/login"><b>Ya tengo cuenta</b></a>
</div>
</ion-content>
