<ion-header>
  <ion-toolbar>
    <ion-title>misAlquileres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item-sliding *ngFor="let alquileres of misalquileres">
      <ion-item lines="inset" >
        <ion-label>
          {{ alquileres.fechaalquiler }}
        </ion-label>
        

        <ion-item>
          <ion-label>MMMM</ion-label>
          <ion-datetime displayFormat="DD MMMM YYYY" value=" {{ alquileres.fechaalquiler  | date: 'DD/MMD/yyyy H:mm'  }}"></ion-datetime>
        </ion-item>
      </ion-item>
 
      
    </ion-item-sliding>
  </ion-list>

</ion-content>
