<ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #EAEAEA !important;">
    <a class="navbar-brand" (click)="rediperfil()">
      <img src="assets/inicio/bicisquito.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item" id="tab-perfil">
          <a class="btn nav-link active" (click)="rediperfil()"><b>Perfil</b></a>
        </li>
        <li class="nav-item" id="tab-tienda">
          <a class="btn nav-link" (click)="alquileresnav()">Alquiler</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="donacionnav()" >Donación</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="mensajeconfirmacionmapa()" >Tiendas</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="actividadesnav()" >Actividades</a>
        </li>
   
   
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <a style="padding: 10px;" (click)="notifinav()" >
          <app-menu></app-menu>
        </a>
        
        <a class="btn btn-outline-success my-2 my-sm-0" style="color: #3A6073;background-color: #fff;
        border: 1px solid #3A6073;" (click)="mensajeconfirmacionsalir()">Cerrar Sesión</a>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content>
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" >
        <div class="col" style="border: #3A6073 2px solid;" *ngIf="usuario">
      
          <h2 style="text-align:center">Editar Perfil</h2>
          <img [src]="usuario.foto" style="height:200px;display:block;margin:auto;padding-top: 10px;"/>
          <label style="color:blue" class="btn btn-link">
            Cambiar foto de perfil
            <input type="file" accept=".png, .jpg" name="fileSubir" (change)="subirImagen($event)" style="display:none;">
          </label>
      
        </div>
        <div class="col" style="border: #3A6073 2px solid;" >   
                <form [formGroup]="formGroup" (ngSubmit)="guardarUsuario()" *ngIf="usuario" >
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Nombre</strong></label>
                      <input class="form-control" type="text" placeholder="Bryan" formControlName="nombreControl" #nombre [(ngModel)]="usuario.nombres">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('required')">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('minlength')">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('maxlength')">
                          *Máximo 15 caracteres  
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('pattern')">
                          *El nombre debe tener solo letras, la primera letra con mayúscula y sin espacios
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <label position="stacked"><strong>Apellido</strong></label>
                      <input class="form-control" type="text" placeholder="Molina" formControlName="apellidoControl" #apellido [(ngModel)]="usuario.apellidos">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('apellidoControl').hasError('required')">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('apellidoControl').hasError('minlength')">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('apellidoControl').hasError('maxlength')">
                          *Máximo 15 caracteres  
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('apellidoControl').hasError('pattern')">
                          *El apellido debe tener solo letras, la primera letra con mayúscula y sin espacios
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Cédula</strong></label>
                      <input class="form-control" type="text" placeholder="0400887599" formControlName="cedulaControl" #cedula [(ngModel)]="usuario.cedula">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('cedulaControl').hasError('required')">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('cedulaControl').hasError('minlength')">
                          *10 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('cedulaControl').hasError('maxlength')">
                          *10 números 
                        </p>
                    
                        <p class="form-error"
                          *ngIf="formGroup.get('cedulaControl').hasError('pattern')">
                          *La cédula debe tener solo números
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <label position="stacked"><strong>Teléfono</strong></label>
                      <input class="form-control" type="text" placeholder="0999999999" formControlName="telefonoControl" #telefono [(ngModel)]="usuario.telefono">
                      <div class="validation-errors">
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('required')">
                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('minlength')">
                          *Mínimo 7 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('maxlength')">
                          *Máximo 10 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('pattern') ">
                          *El teléfono debe tener solo números
                        </p>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="form-group">
                    <label position="stacked"><strong>Correo electrónico</strong></label>
                    <p style="padding:10px;border: #3A6073 2px solid;border-radius: 5px;">{{usuario.correo}}</p>
                  </div>
                  
                  <div class="form-group">
                    <ion-button type="button" expand="block" color="tertiary" (click)="cambiarcontra()">Cambiar contraseña</ion-button>
                  </div>
                  <div class="form-group">
                    <ion-button type="submit" [disabled]="!formGroup.valid" expand="block">Guardar</ion-button>
                  </div>
                </form>
            
            
        </div>
      </div>
      
    </div>
  </section>
  
  <app-footer></app-footer>

  

</ion-content>
