
<ion-content padding>
  <br>
    <h4 align="center">Formulario de registro Tienda</h4> 
    
    <section class="py-3 text-center">
      <div class="container">
        <div class="row" >
          <div class="col" style="background-color: #ffffff;display: flex; align-items: center;justify-content: center;border: #3A6073 2px solid;">
            <div class="row" style="align-items: center;justify-content: center;">
              <div class="row">  
                <img src="../../../assets/inicio/tiendaregistro.png" style="width:80%;margin:auto;padding-top: 10px;padding-bottom: 10px;"/>
            </div>
            
            </div>
            </div>
          
            <div class="col" style="border: #3A6073 2px solid;" >  
              <div class="row">


                <form [formGroup]="formGroup" (ngSubmit)="onRegister(nombre,direccion,telefono,email,password)" id="login-form" class="form" style="padding-left: 30px;">
                  <div class="form-group row">
                    <div class="col">
                      <br>
                      <label position="stacked"><strong>Nombre de la tienda</strong></label>
                      <input type="text" class="form-control" placeholder="Bici Quito" formControlName="nombreControl" #nombre>
                      <div class="validation-errors">
                        <p class="form-error"
                        *ngIf="formGroup.get('nombreControl').hasError('required')">                          *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('minlength')">
                          *Mínimo 3 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('maxlength')">
                          *Máximo 15 caracteres  
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('nombreControl').hasError('pattern')">
                          *El nombre debe tener solo letras, la primera letra con mayúscula y sin espacios
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <br>
                      <label position="stacked"><strong>Teléfono</strong></label>
                      <input type="tel" class="form-control" placeholder="0999999999" formControlName="telefonoControl" #telefono>
                      <div class="validation-errors">
                        <p class="form-error"
                        *ngIf="formGroup.get('telefonoControl').hasError('required')">   
                         *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('minlength')">
                          *Mínimo 7 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('maxlength')">
                          *Máximo 10 números 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('telefonoControl').hasError('pattern')">
                          *El teléfono debe tener solo números
                        </p>
                      </div>
                    </div>
                    
                  </div>
                
                  <div class="form-group">
                    <label position="stacked"><strong>Dirección</strong></label>
                    <textarea type="text" class="form-control" placeholder="Av. Las Americas N°212" formControlName="direccionControl" #direccion rows="2" cols="50"></textarea>
                  </div>
              
                 

                  <div class="validation-errors">
                    <p class="form-error"
                    *ngIf="formGroup.get('direccionControl').hasError('required')">   
                    *Requerido
                    </p>
                    <p class="form-error"
                      *ngIf="formGroup.get('direccionControl').hasError('minlength')">
                      *Mínimo 3 caracteres 
                    </p>
                    <p class="form-error"
                      *ngIf="formGroup.get('direccionControl').hasError('maxlength')">
                      *Máximo 100 caracteres  
                    </p>
                  </div>
        
            
              
                  <div class="form-group row">
                    <div class="col">
                      <label position="stacked"><strong>Correo electrónico</strong></label>
                      <input type="email" class="form-control" placeholder="abc@gmail.com" formControlName="emailControl" #email>
                      <div class="validation-errors">
                        <p class="form-error"
                        *ngIf="formGroup.get('emailControl').hasError('required')">   

                        *Requerido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('emailControl').hasError('email')">
                          *Ingrese un correo válido
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('emailControl').hasError('minlength')">
                          *Mínimo 10 caracteres 
                        </p>
                        <p class="form-error"
                          *ngIf="formGroup.get('emailControl').hasError('maxlength')">
                          *Máximo 40 caracteres  
                        </p>
                      </div>
                    </div>
                    <div class="col">
                      <label position="stacked"><strong>Contraseña</strong></label>
                      
                      <div class="row">
                        <div class="col-lg">
                          <ion-input formControlName="passwordControl" [type]="passwordTypeInput" #password 
                          placeholder="***********" style="background:white;border: 1px solid #dad9d9;"></ion-input>
                        </div>
                        
                      </div>
                      <div class="row" style="justify-content:center;">
                        <div style="width: 20px !important;" >
                          <button type="button" class="btn_eye_icon" color="royal" style="border: none;" (click)="showPassword()">
                            <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                          </button>
                        </div>
                        
                      </div>
                      <div class="row" style="justify-content:center;">
                        <div class="validation-errors">
                          <p class="form-error"
                            *ngIf="formGroup.get('passwordControl').hasError('required')">
                            *Requerido
                          </p>
                          <p class="form-error"
                            *ngIf="formGroup.get('passwordControl').hasError('minlength')">
                            *Mínimo 8 caracteres 
                          </p>
                          <p class="form-error"
                            *ngIf="formGroup.get('emailControl').hasError('passwordControl')">
                            *Máximo 40 caracteres  
                          </p>
                        </div>
                        
                      </div>
                      
                    </div>
                </div>
               
                  <div class="form-group">
                    <ion-button fill="clear" (click)="mostrarpopup()">
                      <ion-icon name="help-circle-outline"></ion-icon>       
                      
                    </ion-button>
                    <label position="stacked"><strong>Imagen de Validación.</strong></label> 
                    <br/>
                    <input formControlName="foto" type="file" accept=".png, .jpg" (change)="enviarimagen($event)" style="color:black"/>
                  </div>
                  <div class="validation-errors">
                    <p class="form-error"
                      *ngIf="(formGroup.get('foto').hasError('required') && formGroup.get('foto').touched) || formGroup.get('foto').pristine">
                      *Requerido
                    </p>
                  
                  </div>
                  
                
              
                  <div class="form-group">
                      <ion-button type="submit" [disabled]="!formGroup.valid" expand="block">Registrarse</ion-button>
                  </div>
                  <div class="form-group" >
                    <div class="col"></div>
                    <div class="col">
                      <p class="center-span">
                        <a routerLink="/iniciar-sesion">¿Ya tienes una cuenta?</a>
                      </p>
                    </div>
                    <div class="col"></div>
                  </div>
                </form>


              </div>
            
            </div>


        </div>
      </div> 



    </section>
<app-footer></app-footer>


</ion-content>
