<ion-content>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="home">
        <img src="assets/inicio/bicisin.png" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="button" (click)="iniciar()">
              <span>Iniciar Sesión</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image:  url('./../assets/inicio/page7.jpeg') ">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">¿Necesitas alquilar una bicicleta?</h2>
            <p class="lead">Esta aplicación la conseguirá por ti..</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('./../../assets/inicio/nav3.jpg');background-position: center; ">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">¿Tienes una bicicleta que no uses?</h2>
            <p class="lead">Puedes donarla a través de esta aplicación.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('./../../assets/inicio/nav5.png')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Tiendas</h2>
            <p class="lead">Encuentras los talleres de bicicletas más cercanos a través de un mapa activo.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5 text-center">
        <div class="container"> 
          <h2 class="text-center">¿Que es Bicis-Quito?</h2>
          <p class="text-muted mb-5 text-center"> Bicis-Quito es una alternativa segura, económica y ecológica para la ciudad de 
            Quito, ya que, por medio de los talleres de bicicletas registrados en esta plataforma, 
            los ciudadanos pueden alquilar bicicletas y realizar donaciones en beneficio de quienes más lo necesitan.</p>
        </div>
  </section>
     
     <!-- Header -->
  <header class="bg-primary text-center py-5 mb-4" >
    <div class="container">
      <h1 class="font-weight-light text-white">Servicios</h1>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col">
        <div class="card border-0 shadow">
          <img src="../../assets/inicio/alquilerser.jpg" style="height:300px">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Alquiler</h5>
            <div class="card-text text-black-50">Esta plataforma permite solicitar el alquiler de cualquier bicicleta a partir de los talleres registrados. </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col">
        <div class="card border-0 shadow">
          <img src="../../assets/inicio/donacionser.jpg" style="height:300px">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Donación</h5>
            <div class="card-text text-black-50">Esta plataforma permite realizar la donación de bicicletas que no utilizas a los talleres registrados.</div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  
  </div>

  <header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Listado de tiendas</h1>
    </div>
  </header>

  
    <p class="text-muted mb-5 text-center"> Encuentra todos los talleres de bicicletas registrados a través de un mapa interactivo. </p>
  
    <div id="map"></div>
  

  <header class="bg-primary text-center py-5 mb-4" >
  
      <h1 class="font-weight-light text-white">Descarga la aplicación móvil y disfruta de todos los beneficios</h1>
 
  </header>
  <header class="text-center" >
    <div class="container">
      <p class="text-muted mb-5 text-center">Esta aplicación la puedes descargar directamente desde Google Play Store o escaneando el siguiente código QR</p> 
        <div id="qrcode">
          <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fplay.google.com%2Fstore%3Fhl%3Des%26gl%3DUS&s=6&e=m" alt="Generador de Códigos QR Codes"/>
          </div>
    </div>
  </header>
  

  <app-footer></app-footer>
</ion-content>

