<ion-header>
 <app-menu></app-menu>
</ion-header>

<ion-content>
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" >
        <div class="col" style="background-color: #3A6073;display: flex;
        align-items: center;justify-content: center;">
        <div class="row" style="align-items: center;justify-content: center;">
          <h2 style="color:white;text-align:center">Formulario de Alquiler</h2>
        
          
          <img src="../../../assets/ciudadano/alquiler.jpg" style="height:300px">
        </div>
        </div>
        <div class="col" style="border: #3A6073 2px solid;" >   
           
              
                <form [formGroup]="formGroup" *ngIf="alquiler" >
                  
                  <div class="form-group row">
                    <div class="col">
                      <ion-item  >
                        <ion-label position="stacked">Seleccione la fecha para el alquiler</ion-label>
                        <ion-datetime displayFormat="DD MMMM YYYY"   
                        (ionChange)="cambiofecha($event)"
                        placeholder="Dia Mes Año"    
                        min="{{fechaactual | date: 'yyyy-MM-dd'}}" 
                        max="2021-12-31" 
                        cancelText="Cancelar"
                        doneText="Seleccionar"
                        formControlName="fechaAlquiler"
                        >
                        </ion-datetime>
                      </ion-item>
                    </div>
                  </div>


                  <div class="form-group row">
                    <div class="col">
                      <ion-item>
                        <ion-label position="stacked">Hora alquiler</ion-label>
                        <ion-datetime cancelText="Cancelar"
                        doneText="Seleccionar" formControlName="horaAlquiler" min="{{fechaactual | date: 'HH:mm'}}" displayFormat="HH:mm" placeholder="Hora Minutos" (ionChange)="seleccionarhora($event)"></ion-datetime>
                      </ion-item>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col">
                      <ion-item>
                        <ion-label position="stacked">Seleccione la fecha de devolución</ion-label>
                        <ion-datetime displayFormat="DD MMMM YYYY"   
                        (ionChange)="cambiofecha2($event)"
                        placeholder="Dia Mes Año"    
                        min="{{fechaactual | date: 'yyyy-MM-dd'}}" 
                        max="2021-12-31" 
                        cancelText="Cancelar"
                        doneText="Seleccionar"
                        formControlName="fechaDevolucion"
                        >
                        </ion-datetime>
                      </ion-item>
                    </div>
                    <div class="col">
                      <ion-item>
                        <ion-label position="stacked">Hora devolución</ion-label>
                        <ion-datetime  cancelText="Cancelar"
                        doneText="Seleccionar" formControlName="horaDonacion" displayFormat="HH:mm" placeholder="Hora Minutos" (ionChange)="seleccionarhoradev($event)"></ion-datetime>
                      </ion-item>
                    </div>
                  </div>
           
                  
                  
                  <div class="form-group">
                    <ion-item  *ngIf="alquiler">
                      <ion-label>Seleccione la  Tienda</ion-label>
                      <ion-select [(ngModel)]="alquiler.idtienda" ok-text="Seleccionar" 
                      cancel-text="Cancelar" formControlName="tindaSeleccion" (ionChange)="onSelectChange(content)" >
                        <ion-select-option *ngFor="let tienda of tiendas" [value]="tienda.id"> 
                          <ion-label>
                          {{ tienda.nombre}}
                        </ion-label>
                        <ion-note slot="end" color="primary">{{ tienda.direccion }}</ion-note>
                        </ion-select-option>
                      </ion-select>
                    </ion-item>   
                    <div class="validation-errors">
                      <p class="form-error"
                        *ngIf="formGroup.get('tindaSeleccion').hasError('required') && formGroup.get('tindaSeleccion').touched">
                        *Requerido
                      </p>
                    
                    </div>
                  </div>
                  <ion-item *ngIf="imgbici">
                    <img height="100" [src]="imgbici" style="display:block;
                            margin:auto;margin-top: 10px;margin-bottom: 10px;">
                  </ion-item>
              
                  
     
                  <div class="form-group">
                    <ion-button [disabled]="!formGroup.valid" expand="full" (click)="crearAlquiler()">Realizar Alquiler</ion-button>
                  </div>
                </form>
                
                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Seleccionar Bicicleta</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ion-item-sliding *ngFor="let bicicleta of bicicletas4">
                      <ion-item button  (click)="seleccionarbici(bicicleta.id)">
                        <ion-label>
                          <img [src]="bicicleta.imagen" style="height: 130px;display:block;margin:auto;margin-bottom: 10px;"/>
                     
                
                       
                        </ion-label>
                      </ion-item> 
                    </ion-item-sliding>
                  </div>
             
                </ng-template>
                

            
            
        </div>
      </div>
      
    </div>
  </section>




  
  <app-footer></app-footer>
    

</ion-content>