<ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #EAEAEA !important;">
    <a class="navbar-brand" (click)="rediperfil()">
      <img src="assets/inicio/bicisquito.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item" id="tab-perfil">
          <a class="btn nav-link" (click)="rediperfil()">Perfil</a>
        </li>
        <li class="nav-item" id="tab-tienda">
          <a class="btn nav-link active" (click)="alquileresnav()"><b>Alquiler</b></a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="donacionnav()" >Donación</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="mensajeconfirmacionmapa()" >Tiendas</a>
        </li>
        <li class="nav-item" id="tab-clientes">
          <a class="btn nav-link" (click)="actividadesnav()" >Actividades</a>
        </li>
   
   
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <a style="padding: 10px;" (click)="notifinav()" >
          <app-menu></app-menu>
        </a>
        
        <a class="btn btn-outline-success my-2 my-sm-0" style="color: #3A6073;background-color: #fff;
        border: 1px solid #3A6073;" (click)="salir()">Cerrar Sesión</a>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content>
  <section class="py-5 text-center">
    <div class="container"> 
      <div class="row" >
        <div class="col" style="border: #3A6073 2px solid;display: flex;
        align-items: center;justify-content: center;">
        <div class="row" style="align-items: center;justify-content: center;">
          <h2 style="text-align:center">Formulario de Alquiler</h2>
        
          
          <img src="../../../assets/ciudadano/alquiler.jpg" style="height:300px">
        </div>
        </div>
        <div class="col" style="border: #3A6073 2px solid;" >   
          <form [formGroup]="formGroup" *ngIf="alquiler">
            <ion-item  >
              <ion-label position="stacked">Seleccione la fecha para el alquiler</ion-label>
              <ion-datetime displayFormat="DD MMMM YYYY"   
              (ionChange)="cambiofecha($event)"
              placeholder="Dia Mes Año"    
              min="{{fechaactual | date: 'yyyy-MM-dd'}}" 
              max="2021-12-31" 
              cancelText="Cancelar"
              doneText="Seleccionar"
              formControlName="fechaAlquiler"
              >
              </ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <p class="form-error"
                *ngIf="(formGroup.get('fechaAlquiler').hasError('required') && formGroup.get('fechaAlquiler').touched) || formGroup.get('fechaAlquiler').untouched">
                *Requerido
              </p>
            
            </div>
            
            <ion-item>
              <ion-label position="stacked">Hora alquiler</ion-label>
              <ion-datetime cancelText="Cancelar"
              doneText="Seleccionar" formControlName="horaAlquiler"  displayFormat="HH:mm" placeholder="Hora Minutos" (ionChange)="seleccionarhora($event)"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <p class="form-error"
                *ngIf="(formGroup.get('horaAlquiler').hasError('required') && formGroup.get('horaAlquiler').touched) || formGroup.get('horaAlquiler').untouched">
                *Requerido
              </p>
            
            </div>
        
            <ion-item>
              <ion-label position="stacked">Seleccione la fecha de devolución</ion-label>
              <ion-datetime displayFormat="DD MMMM YYYY"   
              (ionChange)="cambiofecha2($event)"
              placeholder="Dia Mes Año"    
              min="{{alquiler.fechaalquiler | date: 'yyyy-MM-dd'}}" 
              max="2021-12-31" 
              cancelText="Cancelar"
              doneText="Seleccionar"
              formControlName="fechaDevolucion"
              >
              </ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <p class="form-error"
                *ngIf="(formGroup.get('fechaDevolucion').hasError('required') && formGroup.get('fechaDevolucion').touched) || formGroup.get('fechaDevolucion').untouched" >
                *Requerido
              </p>
            
            </div>
            <ion-item>
              <ion-label position="stacked">Hora devolución</ion-label>
              <ion-datetime  cancelText="Cancelar"
              doneText="Seleccionar" formControlName="horaDonacion" displayFormat="HH:mm" placeholder="Hora Minutos" (ionChange)="seleccionarhoradev($event)"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <p class="form-error"
                *ngIf="(formGroup.get('horaDonacion').hasError('required') && formGroup.get('horaDonacion').touched) || formGroup.get('horaDonacion').untouched">
                *Requerido
              </p>
            
            </div>
            <ion-item *ngIf="alquiler">
              <ion-label>Seleccione la  Tienda</ion-label>
    
           
                  <ion-select [(ngModel)]="alquiler.idtienda" ok-text="Seleccionar" 
              cancel-text="Cancelar" formControlName="tindaSeleccion" (ionChange)="onSelectChange()">
                <ion-select-option *ngFor="let tienda of tiendas" [value]="tienda.id"> 
                  <ion-label>
                  {{ tienda.nombre}}
                </ion-label>
                </ion-select-option>
                </ion-select>
               
          
              
            </ion-item>
            <div class="validation-errors">
              <p class="form-error"
                *ngIf="(formGroup.get('tindaSeleccion').hasError('required') && formGroup.get('tindaSeleccion').touched) || formGroup.get('tindaSeleccion').untouched">
                *Requerido
              </p>
            
            </div>
            
            <ion-item *ngIf="imgbici">
              <img height="100" [src]="imgbici" style="display:block;
                      margin:auto;margin-top: 10px;margin-bottom: 10px;">
            </ion-item>
            <ion-item *ngIf="direc">
              <ion-label position="stacked">Dirección</ion-label>
              <ion-input formControlName="dirDonacion" type="text" [(ngModel)]="direc"></ion-input>
            </ion-item>
        
        
            <!--<ion-button disabled={{desabilitarboton}} expand="full" (click)="abrirmodal()">Seleccione la Bicicleta</ion-button>-->
        
            <ion-button [disabled]="!formGroup.valid" expand="full" (click)="crearAlquiler()" style="border-style: solid;border-color: #01C642;border-radius: 10px;">Realizar Alquiler</ion-button>
         
          </form>
            
        </div>
      </div>
      
    </div>
  </section>




  
  <app-footer></app-footer>
    

</ion-content>