<ion-content>
  
<div style="min-height: 300px;"> 
  <ion-list>
   
    <h2 style="text-align: center;font-weight: bold;">Revisa tus alquileres</h2>
    <p style="text-align: left;padding-left: 10px;"><ion-icon name="flag-outline" style="color:green;font-size: 20px;"></ion-icon> Aprobados</p> 
    <p style="text-align: left;padding-left: 10px"><ion-icon name="flag-outline" style="color:red;font-size: 20px;"></ion-icon> Rechazados o anulados</p> 
    <p style="text-align: left;padding-left: 10px"><ion-icon name="flag-outline" style="color:#ffbb00;font-size: 20px;"></ion-icon> Pendientes</p>  
    <ng-container *ngIf="!alquiler || alquiler.length == 0">
      <p class="centrarmensaje">No existe registrós de alquileres.</p>
    </ng-container>
    
    <div *ngFor="let alqui of alquiler | paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index" style="display: flex;justify-content: center;align-items: center;">
      <ion-card *ngIf="alqui.idusuario==id">
        <ion-row style="border-bottom: solid 1px;border-color: #2355EF;">
          <ion-col>
            <div *ngIf="alqui.respuesta; else elseBlock">
              <ion-icon name="flag-outline" style="color:green;font-size: 20px;" *ngIf="alqui.aprobacion==true"></ion-icon>
            <ion-icon name="flag-outline" style="color:red;font-size: 20px;" *ngIf="alqui.aprobacion==false"></ion-icon>
            </div>     
            <ng-template #elseBlock>
              <ion-icon name="flag-outline" style="color:#ffbb00;font-size: 20px;"></ion-icon>
            </ng-template>
          </ion-col>
          <ion-col>
            <p style="font-size: 20px;padding: 0px;margin: 0px;font-weight: bold;">
               <!--La fecha de solicud se envió {{alqui.fecha.toMillis() | date:'dd/MM/yyyy'}}-->
               Alquiler
            </p>
              
          </ion-col>
          <ion-col style="text-align: center;">
            <ion-button  button [routerLink]="['/alquiler', alqui.id]" color="primary" style="height: 24px;width: 60%;">Ver</ion-button>
          </ion-col>
        </ion-row>
        <div *ngFor="let bici of bicicleta;let indice=index">
          
          <ion-row *ngIf="alqui.bicicleta==bici.id">
            <ion-col >
              <p style="font-size: 12px;">
                <b>Fecha solicitud:</b> {{alqui.fecha.toMillis() | date:'dd/MM/yyyy'}}
                <br/>
                <b>Fecha alquiler:</b> {{alqui.fechaalquiler.toMillis() | date:'dd/MM/yyyy'}}
                <br/>
                <b>Fecha devolución:</b> {{alqui.fechadevolucion.toMillis() | date:'dd/MM/yyyy'}}
                <br/>
                <b>Respuesta:</b> {{ alqui.respuesta }}
                
              </p>
              
            
            </ion-col>
            <ion-col size="5">
              <img height="80" [src]="bici.imagen" style="display:block;
              margin:auto;">
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    
  </ion-list>
</div>
<app-footer></app-footer>
  
 
  
 

</ion-content>
