<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title >Actividades</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alquileres">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Alquileres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="donacion">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Donaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>