<ion-header>
  <app-header-tienda></app-header-tienda>
</ion-header>

<ion-content>
  
      
  
  <div class="container">
  <h5 align="center">BICICLETAS</h5> 
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Disponibles">DISPONIBLES |</a></li>
    <li><a data-toggle="tab" href="#nodisponibles">| NO DISPONIBLES |</a></li>
    <li><a data-toggle="tab" href="#mantenimiento">| MANTENIMIENTO</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="Disponibles" class="tab-pane fade in active">
      
  <div class="table-responsive">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Disponible</th>
          <th scope="col">Editar</th>
          <th scope="col">Camiar Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bicis of bicicletas" >
          <ng-container *ngIf="bicis.disponible==Si">
          <td>{{bicis.nombre}}</td>
          <td>{{bicis.disponible}}</td>
          <td> <ion-button  (click)="editarbici(bicis.id)">
            <ion-icon slot="start" name="locate"></ion-icon>
            Editar Bici
          </ion-button></td>
          <td><ion-button  (click)="cambiarestado(bicis,bicis.id)">
            <ion-icon slot="start" name="locate"></ion-icon>
            Cambiar Estado
          </ion-button></td>
        </ng-container>  
        </tr> 

          </tbody>
        </table>
      </div>
    </div>
    <div id="nodisponibles" class="tab-pane fade">
          
  <div class="table-responsive">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Disponible</th>
          <th scope="col">Editar</th>
          <th scope="col">Camiar Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bicis of bicicletas" >
          <ng-container *ngIf="bicis.disponible==No">
          <td>{{bicis.nombre}}</td>
          <td>{{bicis.disponible}}</td>
          <td> <ion-button  (click)="editarbici(bicis.id)">
            <ion-icon slot="start" name="locate"></ion-icon>
            Editar Bici
          </ion-button></td>
          <td><ion-button  (click)="cambiarestado(bicis,bicis.id)">
            <ion-icon slot="start" name="locate"></ion-icon>
            Cambiar Estado
          </ion-button></td>
        </ng-container>  
        </tr> 

          </tbody>
        </table>
      </div>
    </div>
    <div id="mantenimiento" class="tab-pane fade">
          
  <div class="table-responsive">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Disponible</th>
          <th scope="col">Editar</th>
          <th scope="col">Camiar Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bicis of bicicletas" >
          <ng-container *ngIf="bicis.disponible==Mantenimiento">
          <td>{{bicis.nombre}}</td>
          <td>{{bicis.disponible}}</td>
          <td> <ion-button  (click)="editarbici(bicis.id)">
            <ion-icon slot="start" name="locate"></ion-icon>
            Editar Bici
          </ion-button></td>
          <td><ion-button  (click)="cambiarestado(bicis,bicis.id)">
            <ion-icon slot="start" name="locate"></ion-icon>
            Cambiar Estado
          </ion-button></td>
        </ng-container>  
        </tr> 

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





<ion-fab vertical="bottom" horizontal="center" slot="fixed"  >
  <ion-fab-button  (click)="rediregistrobici()" routerDirection="forward" color="danger">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
