<ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #EAEAEA !important;">
    <a class="navbar-brand" href="editar-tienda">
      <img src="assets/inicio/bicisquito.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="tab-editar-tienda">
          <a class="btn nav-link" (click)="rediperfil()">Perfil</a>
        </li>
        <li class="nav-item" id="tab-mis-bicis">
          <a class="btn nav-link active" (click)="redibicicletas()"><b>Bicicletas</b></a>
        </li>
        <li class="nav-item" id="tab-tienda-alquiler">
          <a class="btn nav-link" (click)="redialquileres()">Alquileres</a>
        </li>
        
        <li class="nav-item" id="tab-tienda-donacion">
          <a class="btn nav-link" (click)="redidonaciones()">Donaciones</a>
        </li>
        
        
     
    
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <a style="padding: 10px;" (click)="redinotifi()" >
          <app-header-tienda></app-header-tienda>
        </a>
        
        <a class="btn btn-outline-success my-2 my-sm-0" style="color: #3A6073;background-color: #fff;
        border: 1px solid #3A6073;" (click)="mensajeconfirmacionsalir()">Cerrar Sesión</a>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="disponibles">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>Disponibles </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="nodisponibles">
        <ion-icon name="close-outline"></ion-icon>
        <ion-label>No Disponibles</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mantenimiento">
        <ion-icon name="fitness-outline"></ion-icon>
        <ion-label>Mantenimiento</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-button  (click)="rediregistrobici()">
          <ion-icon name="add"></ion-icon>
          Añadir
        </ion-button>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
