<ion-header>
  <app-header-tienda></app-header-tienda>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="disponibles">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>Bicis Disponibles </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="nodisponibles">
        <ion-icon name="close-outline"></ion-icon>
        <ion-label>Bicis No Disponibles</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mantenimiento">
        <ion-icon name="fitness-outline"></ion-icon>
        <ion-label>En mantenimiento</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-button  (click)="rediregistrobici()">
          <ion-icon name="add"></ion-icon>
          Añadir Bici
        </ion-button>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
