#map {
    width: 100%;
    height:100%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
      opacity: 1;
    }
  }

  p,h4,button{ 
    color: #4f4866;
    font-weight: normal;
    font-size: 25px;
    font-family: "Open Sans"
    

  }
