<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar Bicicleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let bicicleta of bicicletas">
      <ion-item *ngIf="bicicleta.disponible==validacion" button (click)="seleccionbicicleta(bicicleta.id)">
        <ion-label>
          <img [src]="bicicleta.imagen" style="height: 130px;display:block;margin:auto;margin-bottom: 10px;"/>
     

       
        </ion-label>
      </ion-item> 
    </ion-item-sliding>
  </ion-list>
</ion-content>
