<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end" style="padding: 10px;">
      <ion-icon button (click)="notificaciones()" name="notifications-outline" style="zoom:1.5;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button  (click)="perfil()" block>
          <img src="../../../assets/menu/perfil.png">
        </button>
      </ion-col>
      <ion-col>
        <button  (click)="misalquileres()" block>
          <img src="../../../assets/menu/verificar-alquileres.png">          
        </button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        Perfil
      </ion-col>
      <ion-col>
        Actividades
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <button  (click)="donar()" block>
          <img src="../../../assets/menu/donar.png">
        </button>
        <br/>
      </ion-col>
  
      <ion-col>
        <button  (click)="alquiler()" block>
          <img src="../../../assets/menu/alquilar.png">
        </button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        Donación
      </ion-col>
      <ion-col>
        Alquiler
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button (click)="mensajeconfirmacion()"  block>
          <img src="../../../assets/menu/ubicacion-tienda.png">
        </button>
      </ion-col>
      <ion-col>
        <button  [routerLink]="['/bienvenida']" block>
          <img src="../../../assets/menu/salir.png">
        </button>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Tiendas
      </ion-col>
      <ion-col>
        Salir
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
