<ion-header>
    <app-header-administrador></app-header-administrador>
</ion-header>

<ion-content>
    <div class="container">
     
            <h1 style="display: flex;justify-content: center;"><strong>Bienvenido al Perifil Administrador</strong></h1>
            <h1 style="display: flex;justify-content: center;"><img src="https://www.uninorte.edu.co/documents/13255/0/Administracion_perfiles_joven_350x200/500ea417-ae55-4955-9e7f-6949799cb596?t=1349903413107"></h1>
            <h2>Aquí tu podras realizar las siguientes operaciones</h2>
            <ul>
            <li>Editar tu perfil de tienda</li>
            <li>Modificar tus clientes,tiendas y eliminarlas.</li>
            </ul>
            <h4>Si tienes algun inconveniente por favor comunícate con el administrador.</h4>
            <ul>
            <li>bryan.pilatuna@epn.edu.ec</li>
            <li>bryan.espana@epn.edu.ec</li>
            </ul>
     
    </div>
    <app-footer></app-footer>
</ion-content>
