
ion-slide {
    display: block;
}

.slide-img-padding {
    padding: 40px;
}

h3 {
    font-size: 30;
    font-weight: lighter;
    margin-bottom: 60px;
}

.centrarbotones{
    text-align: center
}

@media screen and (max-height:775px){
    img{
        height: 200px;
    }
    
}
ion-content{
    --background: url("../../../assets/login/bg.jpg") 0 0/100% 100% no-repeat;
}

.swiper-container{
    position: static;
}
h4{
    color:#3171e0;
}
