<ion-content>

  <ion-slides pager="true">
    <ion-slide  *ngFor="let slide of slides" text-center>
      <div class="slide-img-padding">
        <img [src]="slide.img" class="slide-img">
      </div>
      <div>
        <h4 [innerHTML]="slide.titulo"></h4>
      </div>
    </ion-slide>
    <br/>
    
  </ion-slides>

 
</ion-content>

<ion-footer>
  <ion-grid fixed>
    <ion-row text-center>
      <ion-col class="centrarbotones">
        <ion-button color="primary" routerLink="/login" expand="block" shape="round">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col class="centrarbotones">
        <ion-button color="success" routerLink="/menu-invitado" expand="block" shape="round">Iniciar como Invitado</ion-button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col class="centrarbotones">
        <ion-button color="warning" routerLink="/register" expand="block" shape="round">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
