<ion-content>

  <ion-slides pager="true">
    <ion-slide  *ngFor="let slide of slides" text-center>
      <div class="slide-img-padding">
        <img [src]="slide.img" class="slide-img">
      </div>
      <div>
        <h4 [innerHTML]="slide.titulo"></h4>
      </div>
    </ion-slide>
    <br/>
    
  </ion-slides>

 
</ion-content>

<ion-footer>
  <ion-grid fixed>
    <ion-row text-center>
      <ion-col class="centrarbotones">
        <ion-button  routerLink="/login" expand="block" shape="round" style="--background: white !important;color:#2355EF;border-style: solid;border-color: #2355EF;border-radius: 10px;">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col class="centrarbotones">
        <ion-button routerLink="/menu-invitado" expand="block" shape="round" style="--background: white !important;color:#10CAB9;border-style: solid;border-color: #10CAB9;border-radius: 10px;">Iniciar como Invitado</ion-button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col class="centrarbotones">
        <ion-button routerLink="/register" expand="block" shape="round" style="--background: white !important;color:#01C642;border-style: solid;border-color: #01C642;border-radius: 10px;">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
