<ion-content>
  <ng-container *ngIf="!alquileres || alquileres.length == 0">
    <h3>No tienes alquileres rechazados</h3>
  </ng-container>
  <div class="container justify-content-center" >
  <div *ngFor="let alquiler of alquileres | paginate: { itemsPerPage: 5, currentPage: pageActual }" >
    <div *ngFor="let usuario of usuarios">
      <div *ngIf="alquiler.idusuario==usuario.uid">
        <div class="container justify-content-center" >
          <div class="row justify-content-center">
            <div class="col-sm-8">
              <div class="card">
                  <div class="card-block">
                      <h4 class="card-title">{{usuario.nombres}} {{usuario.apellidos}}</h4>
                      <div class="meta">
                          <label><strong>Alquiler Rechazado</strong></label>
                      </div>
                      <div class="card-text">
                          Fecha y hora alquiler: {{alquiler.fechaalquiler.toMillis() | date:'dd/MM/yyyy'}}, {{alquiler.horaalquiler}}
                      </div>
                      <div class="card-text">
                        Fecha y hora devolución: {{alquiler.fechadevolucion.toMillis() | date:'dd/MM/yyyy'}}, {{alquiler.horadevolucion}}
                    </div>
                    <div class="card-text">
                      Motivo del rechazo: {{alquiler.respuesta}}
                  </div>
                  </div>
                  <div class="card-footer">
                    <span class="float-left">Número telefónico</span>
                      <span class="float-right">{{usuario.telefono}}</span>
                  </div>
                  
              </div>
          </div>
          </div>
          <br>
        </div>

       
        
     </div>
    </div>
    </div> 
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>


<div>
  <div class="container">
    <div class="row mb-3">
      <div class="col-6 themed-grid-col">
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
      </div>
    </div>
   </div>
  
<app-footer></app-footer>
</div>
</ion-content>
