<ion-content>
  <table class="table " *ngFor="let alquiler of alquileres | paginate: { itemsPerPage: 5, currentPage: pageActual }" >
                
    
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Motivo Rechazo</th>                          
            </tr>
          </thead>
          <tbody *ngFor="let usuario of usuarios">
          <tr *ngIf="alquiler.idusuario==usuario.uid">
         <td> {{usuario.nombres}}</td>
         <td> {{usuario.apellidos}}</td>
         <td>{{alquiler.respuesta}}</td>
        </tr>
        </tbody>
    
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
<div>
  <div class="container">
    <div class="row mb-3">
      <div class="col-6 themed-grid-col">
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
        <h5>___________</h5>
      </div>
    </div>
   </div>
  
<app-footer></app-footer>
</div>
</ion-content>
