<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="onResetPassword(email)">
    <div class="row" style="display: flex;justify-content: center;">
      <img width="40%" src="../../../assets/olvidar-contrasena/logoolvidco.png"/>
    </div>
    <div class="row">
      <p style="text-align: center"><strong>¿Tienes problemas para iniciar sesión?</strong></p>
      <p style="text-align: justify">Ingresa tu correo electrónico para enviar un enlace de recuperación de contraseña.</p>
    </div>
    <ion-item style="border: white 8px groove;">
      <ion-input [type]="email" #email required placeholder="abc@gmail.com" formControlName="emailControl"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('email')">
        *Ingrese un correo válido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('minlength')">
        *Mínimo 10 caracteres 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('maxlength')">
        *Máximo 40 caracteres  
      </p>
  </div>
    <div class="row">
        <ion-button [disabled]="!formGroup.valid" type="submit" expand="block">Enviar</ion-button>
    </div>
  </form>
</ion-content>
