<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Recupera tu cuenta</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="onResetPassword(email)">
    <div class="row">
      <ion-label position="stacked"><strong>Correo electrónico</strong></ion-label>
      <ion-input [type]="email" #email required placeholder="abc@gmail.com" formControlName="emailControl"></ion-input>
    </div>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('required') && formGroup.get('emailControl').touched">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('email') && formGroup.get('emailControl').touched">
        *Ingrese un correo valido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('minlength') && formGroup.get('emailControl').touched">
        *Mínimo 10 caracteres 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('maxlength') && formGroup.get('emailControl').touched">
        *Máximo 40 caracteres  
      </p>
  </div>
    <div class="row">
        <ion-button [disabled]="!formGroup.valid" type="submit" expand="block">Recupera tu cuenta</ion-button>
    </div>
  </form>
</ion-content>
